<div id = "feedback-history">
    {{#compare user_role '!=' 'Requester'}}
    <div class = "feedback-header">
        Feedback Input:
    </div>
    <div class="container comments-container">
        {{#each latestversioncontracts}}
        <div class="pending-feedback" id="cvId{{_id}}">
            <p>{{filename}}</p>
            {{!-- <p id="fileSelectedForFeedback">File: </p> --}}
            {{!-- <input type="hidden" id="fileIdSelectedForFeedback" value=""> --}}
            <div class="form-floating">
                {{!-- <textarea class="form-control pending-feedback-textarea" placeholder="Leave a comment here" id="" style="height: 100px">{{#compare comment.status '==' 'Pending'}}{{comment.content}}{{/compare}}</textarea> --}}
                <textarea class="form-control pending-feedback-textarea" placeholder="Leave a comment here" style="height: 100px"></textarea>
            </div>
        </div>
        {{/each}}
    </div>
    {{/compare}}
    {{#compare user_role '==' 'Requester'}}
    <div class = "feedback-header">
        Current Feedbacks:
    </div>
    <div id="currentFeedbacksContainer">
        {{#each feedbacks}}
        {{#compare status '==' 'Submitted'}}
        {{#compare content '!=' ''}}
        <div id = "feedbackContainer" class = "feedback-container">
            <div id ="feedback-details-div">
                <div class = "profile-pic">
                    <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
                </div>
                <div id = "author-date-div">
                    <div class = "feedback-author" id = "feedback-author{{@index}}">
                        {{user_id.fullName}}
                    </div>
                    <div class = "feedback-date">
                        {{formatfeedbackdate submitDate}}
                    </div>
                </div>
            </div>
            <p><b>Filename: </b>{{contractVersion.filename}}</p>
            <div id = "feedbackDiv" class = "content">
                <b>Comment: </b>{{content}}
            </div>
        </div>
        {{/compare}}
        {{/compare}}
        {{/each}}
    </div>
    {{/compare}}
    <div class = "feedback-header">
        Feedback History:
    </div>
    <div id="feedbackHistoryContainer">
        {{#each revisedfeedbacks}}
        {{#compare status '==' 'Revised'}}
        {{#compare content '!=' ''}}
        <div id = "{{_id}}" class = "feedback-container feedback-card">
            <div id ="feedback-details-div">
                <div class = "profile-pic">
                    <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
                </div>
                <div id = "author-date-div">
                    <div class = "feedback-author" id = "feedback-author{{@index}}">
                        {{user_id.fullName}}
                    </div>
                    <div class = "feedback-date">
                        {{formatfeedbackdate submitDate}}
                    </div>
                </div>
            </div>
            <p><b>Filename: </b>{{contractVersion.filename}}</p>
            <div id = "feedbackDiv" class = "content">
                <b>Comment: </b>{{content}}
            </div>
        </div>
        {{/compare}}
        {{/compare}}
        {{/each}}
    </div>
</div>