<div id = "feedback-history">
    <div class = "feedback-header">
        Feedback History:
    </div>
    <br>
    {{#each feedback}}
    <div class = "feedback-container">
        
        <div id ="feedback-details-div">
            <div class = "profile-pic">
                <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
            </div>
            <div id = "author-date-div">
                <div class = "feedback-author" id = "feedback-author{{@index}}">
                    {{user_id.fullName}}
                </div>
                <div class = "feedback-date">
                    {{formatfeedbackdate date}}
                </div>
            </div>
        </div>
        <div class = "content">
            {{content}}
        </div>
    </div>
    {{/each}}
</div>

<script>
    // get the initials of the feedback provider for the inner picture
    var index = 0;
    var feedbackCount = document.getElementsByClassName("pic-inner").length;
    
    for (i = 0; i < feedbackCount; i++) {
        var feedbackAuthorID = "#feedback-author" + i;
        var elementid = "pic-inner" + i;

        var feedbackAuthor = $(feedbackAuthorID).text();
        var matches = feedbackAuthor.match(/\b(\w)/g); // e.g. ['J','S','O','N']
        var acronym = matches.join(''); // output will be JSON
    
        document.getElementById(elementid).innerHTML = acronym;

    }
    
</script>