<h5 id="isReferenceFileText" hidden="true">File selected is not a contract.</h5>
<div id = "feedback-history">
    {{#compare user_role '!=' 'Requester'}}
    <div class = "feedback-header">
        Feedback Input:
    </div>
    <div class="container comments-container">
        {{#each latestversioncontracts}}
        <div class="pending-feedback" id="cvId{{_id}}">
            <p>{{filename}}</p>
            <div class="form-floating">
                <textarea class="form-control pending-feedback-textarea" placeholder="Leave a comment here" style="height: 100px"></textarea>
            </div>
        </div>
        {{/each}}
        <p class="changes-saved" style="visibility: hidden;">Saving changes... </p>
    </div>
    {{/compare}}
    {{#compare user_role '==' 'Requester'}}
    <div class = "feedback-header">
        Current Feedback: <span id="noCurrentFeedbackText" hidden="true">None</span>
    </div>
    <div id="currentFeedbacksContainer">
        {{#each feedbacks}}
        {{#compare status '==' 'Submitted'}}
            {{#compare content '!=' ''}}
            <div id = "feedbackContainer" class = "current-feedback feedback-container">
                <input type="hidden" id="currentFeedbackId" name="currentFeedbackId" value="{{_id}}"/>
                <div id ="feedback-details-div">
                    <div class = "profile-pic">
                        <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
                    </div>
                    <div id = "author-date-div">
                        <div class = "feedback-author" id = "feedback-author{{@index}}">
                            {{user_id.fullName}}
                        </div>
                        <div class = "feedback-date">
                            {{formatfeedbackdate submitDate}}
                        </div>
                    </div>
                </div>
                <p class = "content"><b>Filename: </b>{{contractVersion.filename}}</p>
                <div class = "content">
                <div>{{content}}</div>
                </div>
            </div>
            {{/compare}}
        {{/compare}}
        {{/each}}
    </div>
    {{/compare}}
    <div class = "feedback-header">
        Feedback History:
    </div>
    <div id="feedbackHistoryContainer">
        {{#each revisedfeedbacks}}
        {{#compare status '==' 'Revised'}}
            {{#compare content '!=' ''}}
            <div id = "{{_id}}" class = "feedback-container feedback-card">
                <div id ="feedback-details-div">
                    <div class = "profile-pic">
                        <div id = "prevPic-inner{{@index}}" class = "pic-inner"></div>
                    </div>
                    <div id = "author-date-div">
                        <div class = "feedback-author previousFeedbackAuthor{{@index}}">{{user_id.fullName}}</div>
                        <div class = "feedback-date">{{formatfeedbackdate submitDate}}</div>
                    </div>
                </div>
                <p class = "content"><b>Filename: </b>{{contractVersion.filename}}</p>
                <div class = "content">
                <div>{{content}}</div>
                </div>
            </div>
            {{/compare}}
        {{/compare}}
        {{/each}}
    </div>
</div>

<script>
    const nodeList= document.querySelectorAll(".pic-inner");
    const nodeList2 = document.querySelectorAll(".feedback-author");

    for (i = 0; i < nodeList.length; i++) {
       nodeList[i].innerHTML = getAcronym(nodeList2[i].innerHTML);
    }


    function getAcronym(username) {
        var matches = username.match(/\b(\w)/g); // e.g. ['J','S','O','N']
        var acronym = matches.join('');
        return acronym;
    }

    let timerId;
    $('.pending-feedback-textarea').keyup(() => {
        clearTimeout(timerId);
        $('.changes-saved').css("visibility", "visible");

        timerId = setTimeout(function(){
            $('.changes-saved').css("visibility", "hidden");
        }, 5000);
    })
</script>