<div id = "feedback-history">
    {{!-- <div class = "feedback-header">
        Feedback History:
    </div>
    <br>
    {{#each feedback}}
    <div id = "feedbackContainer" class = "feedback-container">
        
        <div id ="feedback-details-div">
            <div class = "profile-pic">
                <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
            </div>
            <div id = "author-date-div">
                <div class = "feedback-author" id = "feedback-author{{@index}}">
                    {{user_id.fullName}}
                </div>
                <div class = "feedback-date">
                    {{formatfeedbackdate date}}
                </div>
            </div>
        </div>
        <div id = "feedbackDiv" class = "content">
            {{content}}
        </div>
    </div>
    {{/each}} --}}
    {{#compare user_role '!=' 'Requester'}}
    <div class="container comments-container">
        {{#each latestversioncontracts}}
        <div class="pending-feedback" id="cvId{{_id}}">
            <p>{{filename}}</p>
            {{!-- <p id="fileSelectedForFeedback">File: </p> --}}
            {{!-- <input type="hidden" id="fileIdSelectedForFeedback" value=""> --}}
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="pendingFeedbackTextArea" style="height: 100px">{{#compare comment.status '==' 'Pending'}}{{comment.content}}{{/compare}}</textarea>
                <label for="pendingFeedbackTextArea"></label>
            </div>
        </div>
        {{/each}}
    </div>
    {{/compare}}
    <div class = "feedback-header">
        Feedback History:
    </div>
    {{#each comments}}
    {{#compare status '==' 'Submitted'}}
    <div id = "feedbackContainer" class = "feedback-container">
        <div id ="feedback-details-div">
            <div class = "profile-pic">
                <div id = "pic-inner{{@index}}" class = "pic-inner"></div>
            </div>
            <div id = "author-date-div">
                <div class = "feedback-author" id = "feedback-author{{@index}}">
                    {{user_id.fullName}}
                </div>
                <div class = "feedback-date">
                    {{formatfeedbackdate submitDate}}
                </div>
            </div>
        </div>
        <div id = "feedbackDiv" class = "content">
            {{content}}
        </div>
    </div>
    {{/compare}}
    {{/each}}
</div>

{{!-- <script>
    const feedbackContainerDiv = document.getElementById("feedbackDiv");
    var feedbackHistoryDiv = document.getElementById("feedback-history");
    
    if (feedbackContainerDiv == null) {
       // alert(feedbackContainerDiv);
       var noFeedbackDiv = document.createElement("div");
       noFeedbackDiv.id = "noFeedbackText";
       noFeedbackDiv.textContent = "This file has no feedback yet."
       feedbackHistoryDiv.appendChild(noFeedbackDiv);
    }
    // get the initials of the feedback provider for the inner picture
    var feedbackCount = document.getElementsByClassName("pic-inner").length;
    
    for (i = 0; i < feedbackCount; i++) {
        var feedbackAuthorID = "#feedback-author" + i;
        var elementid = "pic-inner" + i;

        var feedbackAuthor = $(feedbackAuthorID).text();
        var matches = feedbackAuthor.match(/\b(\w)/g); // e.g. ['J','S','O','N']
        var acronym = matches.join(''); // output will be JSON
    
        document.getElementById(elementid).innerHTML = acronym;

    }
    
</script> --}}