<link rel="stylesheet" href="/css/navstyle.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
<nav>
        {{#if isAuthenticated}}
        {{#compare user_role "==" "Staff"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/staff" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Administrator"}}
        <div class="navbar-logo">
            <a href="/admin/usermanagement" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Attorney"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/attorney" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Requester"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/requester" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user_fullname}}</span>
                {{#if isAuthenticated}}
                <div class="btn-group">
                    <button id = "notifBtn" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </button>
                    <ul id="dropdown-menu" class="dropdown-menu">
                        <!--<li><a class="dropdown-item" href="#">Sample Notif 1</a></li><hr>-->
                        {{#compare user_role "==" "Requester"}}
                        <li id="dropdown-item1"><a class="dropdown-item" href="/requester/contractrequests"><b id="notif">{{forrevisioncount}}</b> of your requests are For Revision</a><hr></li>
                        {{/compare}}
                        {{#compare user_role "==" "Attorney"}}
                        <li id="dropdown-item2"><a class="dropdown-item" href="/attorney/contractrequests"><b id="notif">{{legalReview.nearstartcount}}</b> requests For Review are nearing the start date</a><hr></li>
                        {{/compare}}
                        {{#compare user_role "==" "Staff"}}
                        <li id="dropdown-item3"><a class="dropdown-item" href="/staff/contractrequests"><b id="notif">{{pending.nearstartcount}}</b> Pending requests are nearing the start date</a><hr></li>
                        <li id="dropdown-item4"><a class="dropdown-item" href="/staff/contractrequests"><b id="notif1">{{toreview.nearstartcount}}</b> requests To Review are nearing the start date</a><hr></li>
                        {{/compare}}
                    </ul>
                </div>
                {{/if}}

            </div>
        </li>
        <li><a href="/logout" class="btn2" id="logout">Log Out</a></li>

        {{else}}
        <div class="navbar-logo" style="pointer-events:none">
            <a href="#"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user.fullName}}</span>
            </div>
        </li>
        <li style="visibility:hidden;"><a href="/" id=""></a></li>
        {{/if}}
        </ul>
</nav>

<script>
    // temporary get the initials of the logged user
    var loggedUser = document.getElementById('userrole').textContent;
    var initials = loggedUser.charAt(0);
    document.getElementById("initials").textContent = initials.toUpperCase();
</script>
