<link rel="stylesheet" href="/css/navstyle.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
<nav>
        {{#if isAuthenticated}}
        {{#compare user_role "==" "Staff"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/staff"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Administrator"}}
        <div class="navbar-logo">
            <a href="/admin/usermanagement"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Attorney"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/attorney"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Requester"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/requester"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user_fullname}}</span>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Notifs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sample Notif 1</a></li>
                        <li><a class="dropdown-item" href="#">Sample Notif 2</a></li>
                        <li><a class="dropdown-item" href="#">Sample Notif 3</a></li>
                        {{#each notifications}}
                            <li><a class="dropdown-item" value="{{information}}" href="#">{{information}}</a></li>
                        {{/each}}
                    </ul>
                </div>

            </div>
        </li>
        <li><a href="/logout" class="btn2" id="logout">Log Out</a></li>

        {{else}}
        <div class="navbar-logo" style="pointer-events:none">
            <a href="#"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user.fullName}}</span>
            </div>
        </li>
        <li style="visibility:hidden;"><a href="/" id=""></a></li>
        {{/if}}
        </ul>
</nav>

<script>
    // temporary get the initials of the logged user
    var loggedUser = document.getElementById('userrole').textContent;
    var initials = loggedUser.charAt(0)
    document.getElementById("initials").textContent = initials.toUpperCase();
</script>