<link rel="stylesheet" href="/css/navstyle.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
<nav>
        {{#if isAuthenticated}}
        {{#compare user_role "==" "Staff"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/staff" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Administrator"}}
        <div class="navbar-logo">
            <a href="/admin/usermanagement" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Attorney"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/attorney" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}

        {{#compare user_role "==" "Requester"}}
        {{> sidenav}}
        <div class="navbar-logo">
            <a href="/requester" class ="navbar-link"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        {{/compare}}
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user_fullname}}</span>
                {{#if isAuthenticated}}
                <div class="btn-group">
                    <button id = "notifBtn" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </button>
                    <ul id="dropdown-menu" class="dropdown-menu">
                        <div id = "notifs-text"><span id = "notifications">Notications</span></div>
                        <!--<li><a class="dropdown-item" href="#">Sample Notif 1</a></li><hr>-->
                        {{#compare user_role "==" "Requester"}}
                            {{#ifCond forrevision_count '!=' "0"}}
                            <li id="dropdown-item1" class ="dropdownItemClass"><a class="dropdown-item" href="/requester/contractrequests"><b id="notif">{{forrevision_count}}&nbsp;</b> of your request/s are For Revision</a></li>
                            {{/ifCond}}
                            {{#ifCond forrevision_count '==' "0"}} <!-- if no notif -->
                            No Notifications
                            {{/ifCond}}
                        {{/compare}}
                        {{#compare user_role "==" "Attorney"}}
                            {{#ifCond legalReview_nearstartcount '!=' "0"}}
                            <li id="dropdown-item2" class ="dropdownItemClass"><a class="dropdown-item" href="/attorney/contractrequests"><b id="notif">{{legalReview_nearstartcount}}&nbsp;</b> request/s For Review are near the start date</a></li>
                            {{/ifCond}}
                            {{#ifCond legalReview_nearstartcount '==' "0"}} <!-- if no notif -->
                            No Notifications
                            {{/ifCond}}
                        {{/compare}}
                        {{#compare user_role "==" "Staff"}}
                            {{#ifCond pending_nearstartcount '!=' "0"}}
                            <li id="dropdown-item3" class ="dropdownItemClass"><a class="dropdown-item" href="/staff/contractrequests"><b id="notif">{{pending_nearstartcount}}&nbsp;</b> Pending request/s are near the start date</a></li>
                            {{/ifCond}}
                            {{#ifCond toreview_nearstartcount '!=' "0"}}
                            <li id="dropdown-item4" class ="dropdownItemClass"><a class="dropdown-item" href="/staff/contractrequests"><b id="notif1">{{toreview_nearstartcount}}&nbsp;</b> request/s To Review are near the start date</a></li>
                            {{/ifCond}}

                            <!-- if no notif -->
                            {{#ifCond pending_nearstartcount '==' "0"}}
                                {{#ifCond toreview_nearstartcount '==' "0"}}
                                    No Notifications
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/compare}}
                    </ul>
                </div>
                {{/if}}

            </div>
        </li>
        <li><a href="/logout" class="btn2" id="logout">Log Out</a></li>

        {{else}}
        <div class="navbar-logo" style="pointer-events:none">
            <a href="#"><img src="/img/dlsu_logo.png" style="width:60px; padding:0px; margin-right: 10px;"/>Office of the University Legal Counsel</a>
        </div>
        <ul>
        <li>
            <div class = "account-profile-pic" id = "accountName">
                <div class="circle">
                    <div id = "initials" class = "initials">
                        
                    </div>
                </div>
                <span id = "userrole">{{user.fullName}}</span>
            </div>
        </li>
        <li style="visibility:hidden;"><a href="/" id=""></a></li>
        {{/if}}
        </ul>
</nav>

<script>
    // temporary get the initials of the logged user
    var loggedUser = document.getElementById('userrole').textContent;
    var initials = loggedUser.charAt(0);
    document.getElementById("initials").textContent = initials.toUpperCase();

    const dropdownList = document.querySelectorAll(".dropdown-item");
</script>
