<link rel="stylesheet" href="/css/messagesstyle.css">
<script src = "/socket.io/socket.io.js"></script>

<script>
    $(document).ready( () => {
        var socket = io(); 
        
        $('#negotiationSendBtn').click(function () {   
            //event.preventDefault();
            var message = document.getElementById("inputmessage2").value;
            var conversationid = document.getElementById("negotiationid").value;
            var username = document.getElementById("username").value;
            //addMessage(username, message);

            socket.emit("chat-message", {
                username: username,
                message: message
            });
            document.getElementById("inputmessage2").value = "";

            $.ajax({
                    url: "/sendmessage",
                    method: "GET",
                   contentType: "application/json",
                    data: {conversationid: conversationid, message: message, sender: username},
                    success: function() {
                        console.log('SUCCESS');
                   },
                    error: function(err) {
                        console.log(err);
                    }
            });

            });

            socket.off("chat-message").on("chat-message", function(data) {
                addMessage2(data.username, data.message);
            });

    });

    function addMessage2(username, message) {
        var ul = document.createElement("ul");
        var messageContainer = document.getElementById("message-container");
        var scrollableDiv = document.getElementById("discussion-div");
        var loggedUser = $('#username').val();

        ul.id = 'messages';
        ul.className = "messages-ul-class not-from-logged-user";
        if (loggedUser === username) {
            ul.classList.remove("not-from-logged-user");
        }
        ul.dataset.value = loggedUser;
        // ul.textContent = username + " : " + message;
        messageContainer.appendChild(ul);
        
        var li = document.createElement("li");
        var discussionDiv = document.createElement("div");
        discussionDiv.id = 'discussion-details-div';

        var contentDiv = document.createElement("div");
        contentDiv.className = "content";
        contentDiv.innerText = message;

        li.appendChild(discussionDiv);
        li.appendChild(contentDiv);
        ul.appendChild(li);

        var profilePicDiv = document.createElement("div");
        profilePicDiv.className = "profile-pic";
        var discPicInnerDiv = document.createElement("div");
        discPicInnerDiv.id = "disc-pic-inner";
        discPicInnerDiv.className = "disc-pic-inner";
        discPicInnerDiv.innerText = getAcronym(username);
        
        
        profilePicDiv.appendChild(discPicInnerDiv);
        discussionDiv.appendChild(profilePicDiv);


        var authorDateDiv = document.createElement("div");
        authorDateDiv.id = "author-date-div";
        var discussionAuthorDiv = document.createElement("div");
        discussionAuthorDiv.className = "discussion-author";
        discussionAuthorDiv.id = "discussion-author";

        discussionAuthorDiv.innerText = username;

        authorDateDiv.appendChild(discussionAuthorDiv);
        discussionDiv.appendChild(authorDateDiv);

        var discussionDateDiv = document.createElement("div");
        discussionDateDiv.className = "discussion-date";

        var date = moment();
        var currentDate = date.format("MMM D, YYYY h:mmA");
        discussionDateDiv.innerText = currentDate;

        authorDateDiv.appendChild(discussionDateDiv);

        scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
    }
</script>

<div id = "discussion-div">
    <!--<div>{{negotiation._id}} : {{negotiation.members}}</div>-->
    <div class = "discussion-header">Negotiation Thread:</div>
    <div id = "message-container">
        {{#each messages2}}
        <ul id="messages" class ="messages-ul-class" data-value="{{sender}}">
            <li>
                <div id ="discussion-details-div">
                    <div class = "profile-pic">
                        <div id = "disc-pic-inner{{@index}}" class = "disc-pic-inner"></div>
                    </div>
                    <div id = "author-date-div">
                        <div class = "discussion-author" id = "discussion-author{{@index}}">
                            {{sender}}
                        </div>
                        <div class = "discussion-date">
                            {{formatfeedbackdate date}}
                        </div>
                    </div>
                </div>
                <div class = "content">
                    {{content}}
                </div>
            </li>  
        </ul>
        {{/each}}
    </div>
    <div id="messagebox">
        
    </div>
    <div id="form" >
        <input id="inputmessage2" autocomplete="off" placeholder = "Type message here..." />
        <button id = "negotiationSendBtn" class="send-btn" type="submit">Send</button>
    </div>

</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
<!--
<script src = "/socket.io/socket.io.js"></script>
<script> 
    //const socket = io(); 

    var form = document.getElementById('form');
    var input = document.getElementById('input');
    var messages = document.getElementById('discussion-div');
    //var username = document.getElementById('username').value;

    //console.log("THE USER IS: " + username);

    form.addEventListener("submit", function(event) {
        event.preventDefault();

        addMessage(input.value);

        /*socket.emit("chat-message", {
            message: input.value
        });*/

        input.value = "";
        return false;
    }, false);

    socket.on("chat-message", function(data) {
        addMessage( ": " + data.message);
    });

    /*socket.on("user_join", function(data) {
        addMessage(data + " just joined the chat!");
    });*/

    function addMessage(message) {
        var ul = document.createElement("ul");
        ul.id = 'message-box'
        ul.innerHTML = message;
        messages.appendChild(ul);
        window.scrollTo(0, document.body.scrollHeight);
    }
</script> -->

<script>
    // get the initials of the feedback provider for the inner picture
    var index = 0;
    var discussionCount = document.getElementsByClassName("disc-pic-inner").length;
    
    for (i = 0; i < discussionCount; i++) {
        var discussionAuthorID = "#discussion-author" + i;
        var elementid = "disc-pic-inner" + i;

        var discussionAuthor = $(discussionAuthorID).text();
        var matches = discussionAuthor.match(/\b(\w)/g); // e.g. ['J','S','O','N']
        var acronym = matches.join(''); // output will be JSON
    
        document.getElementById(elementid).innerHTML = acronym;

    }
    
    var loggedUser = $('#username').val();
    const messageContainer = document.querySelector("#message-container");
    const notLoggedUserList = messageContainer.querySelectorAll(`ul[data-value]:not(ul[data-value="${loggedUser}"])`);
    for (i = 0; i < notLoggedUserList.length; i++) {
        notLoggedUserList[i].classList.add('not-from-logged-user');
    }

    function getAcronym(username) {
        var matches = username.match(/\b(\w)/g); // e.g. ['J','S','O','N']
        var acronym = matches.join('');
        return acronym;
    }
</script>