<link rel="stylesheet" href="/css/navstyle.css">

<div id = "summary-table">
    Document Number<br>
    <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.trackingNumber}}</textarea>
    <br>
    <div class="row">
        <div class="col-6">
            Request Date<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{formatdate contractrequest.requestDate}}</textarea>
        </div>
        <div class="col-6">
            Department/Unit<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.requester.department.name}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Effectivity Date<br>
        </div>
        <div class="row">
            <div class="col">
                From: <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{formatdate contractrequest.effectivityStartDate}}</textarea>
            </div>
            <div class="col">
                To: <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{formatdate contractrequest.effectivityEndDate}}</textarea>
            </div>
            <div class="col">
                Duration: <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.daysDuration}} days</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Name of Signatory<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.signatoryName}}</textarea>
        </div>
        <div class="col-6">
            Signatory Level<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.signatoryLevel}}{{#compare contractrequest.isCustomSignatoryLevel '==' true}} (Custom){{/compare}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Contact Person<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.requester.fullName}}</textarea>
        </div>
        <div class="col-6">
            Contact Local No.<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.contactNum}}</textarea>
        </div>
    </div>
    Template Used
    <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.templateUsed}}</textarea>
    <br>
    <div id ="changes-section-text">Changes in Sections/Paragraphs</div>
    <textarea name="textarea" class = "changes-section text-input"  readonly>{{contractrequest.sectionChangeNotes}}</textarea>
    <div class="row">
        <div class="col-6">
            Third Party Name<br>
            <textarea name="textarea" class = "text-input"  readonly>{{contractrequest.thirdPartyRepresentativeName}}</textarea>
        </div>
        <div class="col-6">
            Third Party Email<br>
            <textarea name="textarea" class = "text-input"  readonly>{{contractrequest.thirdPartyRepresentativeEmail}}</textarea>
        </div>
    </div>
    Name of Other Contracting Party
    <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.contractingParty}}</textarea>
    <div class="row">
        <div class="col-6">
            Amount Involved (If Any)<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{numberWithComma contractrequest.amountInvolved}}</textarea>
        </div>
        <div class="col-6">
            Type of Review<br>
            <textarea name="textarea" rows = "1" class = "text-input"  readonly>{{contractrequest.reviewType}}</textarea>
        </div>
    </div>
    Document Title
    <textarea name="textarea" class = "text-input"  readonly>{{contractrequest.requestTitle}}</textarea>
    Document Type
    <textarea name="textarea" class = "text-input" readonly>{{contractrequest.contractType.name}}</textarea>
    Subject Matter<br>
    <textarea name="textarea" class = "text-input" readonly>{{contractrequest.subjectMatter}}</textarea>
</div>