<h5 id="notContractText" hidden="true">File selected is not a contract.</h5>
<div class="files-div" id="contractVersionsDiv">
    <div class = "version-header">
        Contract Versions:
        <form method="POST" action="/request/revisionHistory" class = "revision-form">
            <input type="hidden" name="contractFileId" id="contractFileId" val="">
            <button type="submit" class="mark-as-btn" id="revisionHistory">View Revision History</button>
        </form>
    </div><br>
    <table id="table" class="sortable table table-hover"
        style="width: 100%; font-size: 16px; background:#D9D9D9;">
        <thead class="table-headers">
            <tr>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Version</th>
                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Upload Date</th>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Uploaded By</th>
                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Actions</th>
            </tr>
            
        </thead>
        <tbody id="contractVersionsTable">
            {{#each contractversions}}
            <tr id="{{_id}}" class="contract-version-row">
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{version}}.0</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{formatdate uploadDate}}</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{contract.contractRequest.requester.fullName}}</td>
                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">
                    <a href="/requestdocuments/downloadcontractversion/{{file}}" class="download-contract-version text-body"><i class="bi bi-download" style="cursor: pointer;"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <br><div class = "version-header">Version Notes:</div><br>
    {{#each contractversions}}
    <div class="card version-note-card" id="versionNote{{_id}}">
        <p><b>File: </b>{{filename}} (Version {{version}}.0)</p>
        <hr>
        {{#compare version '==' 1}}
        <p class="card-text">No comments for this version</p>
        {{else}}
        <div class ="version-comments">
            <p class="version-feedback-author">OULC Comments:</p>
            <p class="card-text">{{versionNote.oulcComments}}</p>
        </div>
        <div class ="version-comments">
            <p class="version-feedback-author">3rd Party Response:</p>
            <p class="card-text">{{versionNote.thirdPartyResponse}}</p>
        </div>
        <div class ="version-comments">
            <p class="version-feedback-author">Requesting Party Remarks/Response:</p>
            <p class="card-text">{{versionNote.requestingPartyRemarks}}</p>
        </div>
        {{/compare}}
    </div>
    {{/each}}
</div>