<!DOCTYPE html>

<html>
    <head>
        <title>Add User</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/createrequeststyle.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/js/createrequest.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        {{!-- Daterange picker files --}}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <div id="header">Create Contract Approval Request</div>
        <div id="subheader">
            <a href="/requester" class = "home-href">Home</a>
            <p class = "divider" style = "display: inline;"> > </p>
            <a href = "/requester/createrequest" id = "selected" id = "selected" class = "home-href">Create Approval Request</a>
        </div>
        <div id="steps-subheader">
            <div class="steps-circle selected-step">
                <div class = "step-no">
                    1
                </div>
            </div>
            <div class = "steps">
                Fill up IRF & FRF
                <hr class = "steps-divider" size="3" color="#000">
            </div>
            <div class="steps-circle" id = "step2">
                <div class = "step-no">
                    2
                </div>
            </div>
            <div class = "steps">
                Review & Submit Approval Request Details
            </div>
        </div>

        <div class = "container">
            <div id = "irf-frf-header">
                1. Joint Initial and Final Review Form
            </div>
            <div class = "steps-subheader mb-3">Requester & Signatory Details</div>
            <form id="requestForm" action="/requester/createcontractrequest" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col label-and-input mb-3">
                        <label for="department" class="form-label">Department/Unit</label>
                        <input type="text" name="department" class="text-input read-only default-read-only" id="department" value="{{department}}" required readonly disabled>
                    </div>
                    <div class="col label-and-input mb-3">
                        <label for="requestdate" class="form-label">Request Date</label>
                        <input type="text" name="requestdate" class="text-input read-only default-read-only" id="requestdate" value="{{formatdate requestdate}}" required readonly disabled>
                    </div>
                </div>
                <div class = "row">
                    <div class="col label-and-input mb-3">
                        <label for="contactperson" class="form-label">Requester Name*</label>
                        <input type="text" name="contactperson" class="text-input" id="contactperson" required>
                    </div>
                    <div class="col label-and-input mb-3">
                        <label for="contactno" class="form-label">Contact No.*</label>
                        <input type="tel" name="contactno" class="text-input" id="contactno" minlength = "8" maxlength = "13" required>
                    </div>
                </div>
                <div class = "row">
                    <div class="col label-and-input mb-3">
                        <label for="signatoryname" class="form-label">Name of Signatory*</label>
                        <input type="text" name="signatoryname" class="text-input" id="signatoryname" required>
                    </div>
                    <div class="col label-and-input mb-3">
                        <a data-bs-toggle="modal" data-bs-target="#signatoryPolicyModal" href="#signatoryPolicyModal"><label for="signatorylevel" class="form-label"  id = "signatoryLabel">Signatory Level
                            <i class="fa fa-question-circle" aria-hidden="true" title = "The signatory level automatically changes based on type,&#013;scope, duration, & amount of the contract"></i>
                        </label></a>
                        <input type="number" name="signatorylevel" class="text-input read-only default-read-only" id="signatorylevel" value = "5" readonly>
                    </div>
                    <span class ="signatory-change-note mb-3">Note: Signatory level has been changed. Please double check on the name of the signatory.</span>
                </div>
                

                <div class = "steps-subheader mb-3">Document & Contracting Party Details</div>
                <div class="label-and-input solo-row mb-3">
                    <label for="documenttype" class="form-label">Document Type*</label>
                    <select class="text-input" aria-label="Document Type" name="documenttype" id="documenttype">
                        {{#each contracttypes}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <span id = "torReminder" class ="tor-reminder mb-3">Note: For multiple TORs, please submit all the necessary files all at once in a single request.</span>
                <div class="label-and-input solo-row mb-3">
                    <label for="documenttitle" class="form-label">Document Title*</label>
                    <input type="text" name="documenttitle" class="text-input" id="documenttitle" placeholder="e.g. MOA Between DLSU and Accenture" required>
                </div>
                <div class = "row">
                    <div id = "contractingpartyojt-div" class = "col label-and-input break-text mb-3" hidden> <!-- Contracting Party Input if Type is OJT/Internship -->
                        <div class="col label-and-input break-text" id = "contractingparty-active-div">
                            <label for="contractingpartyojt" class="form-label">Contracting Party Name*</label>
                            <select class="text-input" aria-label="Contracting Party" name="contractingpartyojt" id="contractingpartyojt">
                            {{#each activeCompanies}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            <option id = "company-other" value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col label-and-input mb-3" id = "contractingparty-div"> <!-- Show this for contracting party if type selected is not OJT/Internship -->
                        <label for="contractingparty" class="break-text form-label">Contracting Party Name*</label>
                        <input type="text" name="contractingparty" class="text-input" id="contractingparty" required>
                    </div>
                    <span class ="company-list-note mb-3">Note: Companies that are listed above have valid, existing institutional MOAs.</span>
                </div>

                <div class = "row">
                    <div class="col label-and-input mb-3">
                        <label for="thirdpartyname" class="form-label">Contact Person</label>
                        <input type="text" name="thirdpartyname" class="text-input" id="thirdpartyname">
                    </div>
                    <div class="col label-and-input break-text mb-3">
                        <label for="thirdpartyemail" class="form-label">Contact Person Email</label>
                        <input type="email" name="thirdpartyemail" class="text-input" id="thirdpartyemail">
                    </div>
                </div>
                <div class = "steps-subheader mb-3">Approval Request Details</div>
                <div class="label-and-input solo-row mb-3">
                    <label for="subject" class="form-label">Subject Matter*</label>
                    <input type="text" name="subject" class="text-input" id="subject" placeholder = "e.g. Signing of MOA between student Juan Dela Cruz and Accenture PH for T2 practicum" required>
                </div>
                <div class="label-and-input radio-btns mb-3">
                    <label for="templateused" class="form-label">Template Used*</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed1" value="DLSU Template" checked>
                            <label class="form-check-label" for="radioTemplateUsed1">
                                DLSU Template
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed2" value="Other (e.g.: From other party, own templates)">
                            <label class="form-check-label" for="radioTemplateUsed2">
                                Other (e.g.: From other party, own template)
                            </label>
                        </div>
                        <div id = "template-div">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="templateused" id="radioTemplateUsed3" value="DLSU Template with changes in section/paragraph">
                                <label class="form-check-label" for="radioTemplateUsed3">
                                    DLSU Template with changes in section/paragraph
                                </label>
                            </div>
                            <div class="" id="sectionChangesDiv" hidden>
                                <input type="text" name="sectionchanges" class="text-input" id="sectionchanges" >
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col label-and-input mb-3">
                    <label for="amount" class="break-text form-label">Amount Involved, if any (₱)</label>
                    <input type="number" name="amount" class="amtdate text-input" id="amount" placeholder = "XXXX.XX" min = "0">
                </div>

                <div class = "row">
                    <div class="col label-and-input mb-3">
                        <label for="daterange" class="form-label">Effectivity Date*</label>
                        <input type="text" class="amtdate text-input" name="daterange"/ required>
                    </div>
                    <div class="col label-and-input mb-3">
                        <label for="duration" class="form-label">Duration (days)</label>
                        <input type="number" name="duration" class="text-input read-only default-read-only" id="duration" readonly required>
                    </div>
                </div>
                
                <div class="label-and-input solo-row mb-3">
                    <label for="reviewtype" class="form-label">Type of Review*</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reviewtype" id="radioReviewType1" value="Regular" checked>
                        <label class="form-check-label" for="radioReviewType1">
                            Regular
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reviewtype" id="radioReviewType2" value="Express">
                        <label class="form-check-label" for="radioReviewType2">
                            Express
                        </label>
                    </div>
                </div>
                <div class = "steps-subheader mb-3">File Attachments</i></div>
                <div class="solo-row mb-3">
                    <label for="contractFiles" class="form-label">Upload Contract*</label>
                    <input type="file" name="contractFiles" accept="application/pdf" class="" id="contractFiles" required multiple>
                </div>
                <div class="solo-row mb-3">
                    <label for="refDocFiles" class="form-label">Upload Reference Document(s)</label>
                    <input type="file" name="refDocFiles" accept="application/pdf" class="" id="refDocFiles" multiple>
                </div>
                <div id = "btnsDiv" class = "solo-row btn-div">
                    <a href = "/requester" id = "backToHomeHref" class = "btn-div-href">&#60; Back to Home</a>
                    <button id="continueBtn" class="formBtn" value = "Step 1">Continue</button>
                </div>
            </form>
            
            <!-- View Data Privacy Modal -->
            <div class="modal fade modal-lg" id="dataPrivacyModal" tabindex="-1" aria-labelledby="dataPrivacyModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title w-100" id="exampleModalLabel">Data Privacy Notice</h5>
                            <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="dataPrivacyNotice">
                                <div>
                                    {{>dataprivacyform}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                            <button id="submitRequestForm" class="submit-modal-btn disabled" disabled>Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Signatory Policy Modal -->
            <div class="modal fade modal-lg" id="signatoryPolicyModal" tabindex="-1" aria-labelledby="signatoryPolicyModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title w-100" id="exampleModalLabel">Signatory Policy</h5>
                            <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="signatoryPolicy">
                                <div>
                                    <div class="table-guidelines">The automation of signatory levels follows the guidelines below:</div><br>
                                    <div id = "policyModalHeader">TABLE 2: Duration of Contract</div><br>
                                    <table id = "policyModalTable" style="width:100%">
                                    <tr>
                                        <th>Duration of Contract</th>
                                        <th>Authorized Signatory</th>
                                    </tr>
                                    <tr>
                                        <td>More than 3 years</td>
                                        <td>Level 2</td>
                                    </tr>
                                    <tr>
                                        <td>More than 1 year to 3 years</td>
                                        <td>Level 3</td>
                                    </tr>
                                    <tr>
                                        <td>Up to 1 year</td>
                                        <td>Level 5</td>
                                    </tr>
                                    </table>
                                </div>
                                <div><br><br>
                                    <div id = "policyModalHeader">TABLE 3: Amount of Contract</div><br>
                                    <table id = "policyModalTable" style="width:100%">
                                    <tr>
                                        <th>Amount of Contract</th>
                                        <th>Authorized Signatory</th>
                                    </tr>
                                    <tr>
                                        <td>Above 1 Million</td>
                                        <td>Level 1</td>
                                    </tr>
                                    <tr>
                                        <td>Above 500,000 to 1 Million</td>
                                        <td>Level 2</td>
                                    </tr>
                                    <tr>
                                        <td>Above 100,000 to 500,000</td>
                                        <td>Level 3</td>
                                    </tr>
                                    <tr>
                                        <td>100,000 and below</td>
                                        <td>Level 5</td>
                                    </tr>
                                    </table>
                                </div><br>
                                <div>Last Updated: Jan. 27, 2023</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    const continueBtn = document.getElementById("continueBtn");
    const hrefLink = document.getElementById('backToHomeHref');
    const form  = document.getElementById('requestForm');

    hrefLink.onclick = function() {
        if (hrefLink.textContent === "< Fill up IRF & FRF") {
            unlockChanges();
            hrefLink.setAttribute("href", "#");
            hrefLink.textContent = "< Back to Home";
            continueBtn.innerText = "Continue";
            continueBtn.value = "Step 1";
        } else {
            hrefLink.setAttribute("href", "/requester");
        }
    }

    submitRequestForm.onclick = function() {
        form.submit();
    }

    function submitForm() {
        form.submit();
    }

    continueBtn.onclick = function() {
        let allAreFilled = true;

        if (continueBtn.value === "Submission Ready") {
            // $("#continueBtn").attr("data-bs-toggle",'modal');
            // $("#continueBtn").attr("data-bs-target", '#dataPrivacyModal');
            $('#dataPrivacyModal').modal('show');
        } else {
            continueBtn.value = "Step 1";
            //submitForm();
        }

        document.getElementById("requestForm").querySelectorAll("[required]").forEach(function(i) {
            if (!allAreFilled) {
                // form.submit();
                return;
            }

            if (i.type === "radio") {
                let radioValueCheck = false;
                document.getElementById("requestForm").querySelectorAll(`[name=${i.name}]`).forEach(function(r) {
                    if (r.checked) radioValueCheck = true;
                })
                allAreFilled = radioValueCheck;
                return;
            }
            if (!i.value) {
                allAreFilled = false;
                return;
            }
        })
            if (!allAreFilled) {
                alert('Fill all the fields');
                form.addEventListener('submit', (event) => {
                    // stop form submission
                    event.preventDefault();
                });
            } else {
                event.preventDefault();
                continueBtn.innerText = "Submit Request";
                continueBtn.value = "Submission Ready";
                hrefLink.textContent = "< Fill up IRF & FRF";
                replaceBtn();
            }
    };

    function replaceBtn() {
        document.getElementById("step2").classList.add("selected-step");

        $('#requestForm input').addClass("read-only");
        $('#requestForm select').addClass("read-only");

        // $("#requestForm input:radio").css("pointer-events", "none");
        // $("#requestForm input:file").css("pointer-events", "none");
        $('#requestForm input').addClass('placeholder-class');

        $("#requestForm select").css("pointer-events", "none");
        $("#requestForm input").css("pointer-events", "none");
        $('#requestForm label').css("pointer-events", "none");
    }

    function unlockChanges() {
        document.getElementById("step2").classList.remove("selected-step");

        $('#requestForm input').removeClass("read-only");
        $('#requestForm select').removeClass("read-only");
        
        // $("#requestForm input:radio").css("pointer-events", "auto");
        // $("#requestForm input:file").css("pointer-events", "auto");
        $('#requestForm input').removeClass('placeholder-class');

        $("#requestForm select").css("pointer-events", "auto");
        $("#requestForm input").css("pointer-events", "auto");
        $('#requestForm label').css("pointer-events", "auto");
    }

    function checkConsentBox(consentCheckBox){
        //If the checkbox has been checked
        if(consentCheckBox.checked){
            //Set the disabled property to FALSE and enable the button.
            document.getElementById("submitRequestForm").disabled = false;
            document.getElementById("submitRequestForm").classList.remove("disabled");
            document.getElementById("submitRequestForm").classList.add("checked");
        } else{
            //Otherwise, disable the submit button.
            document.getElementById("submitRequestForm").disabled = true;
            document.getElementById("submitRequestForm").classList.remove("checked");
            document.getElementById("submitRequestForm").classList.add("disabled");
        }
    }
    
</script>