<!DOCTYPE html>

<html>
    <head>
        <title>Add User</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/dashboardstyle.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    $(document).ready( function() {
        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;

        var startdate = document.getElementById("startdate").value;
        var enddate = document.getElementById("enddate").value;

        if(startdate == ""){
            document.getElementById("startdate").setAttribute("max", today);
            document.getElementById("enddate").setAttribute("max", today);
        }
        if (startdate != ""){
            document.getElementById("enddate").setAttribute("min", startdate);
        }
        if(enddate != ""){
            document.getElementById("startdate").setAttribute("max", enddate);
            document.getElementById("enddate").setAttribute("max", today);
        }
        
        $('#enddate').on('change', function() {
            var enddate = document.getElementById("enddate").value;
            document.getElementById("startdate").setAttribute("max", enddate);
        });

            $('#startdate').on('change', function() {
            var startdate = document.getElementById("startdate").value;
            document.getElementById("enddate").setAttribute("min", startdate);
            document.getElementById("enddate").setAttribute("max", today);
        });

        var clearedPercentage = document.getElementById("clearedPercentage").textContent;
        if (clearedPercentage == "NaN%") {
            document.getElementById("clearedPercentage").textContent = "0%";
        }

    });
</script> 
        
    </head>
    <body>
        <div id="header">Dashboard</div>
        <form action="/staff/dashboard" method="POST">
        <ul class="nav-tabs" id="myTab" role="tablist">
            <label for="start"><b>Start date:</b></label>
            <input type="date" class = "date-input" id="startdate" name="startdate" value="{{startdate}}" min="" max="" required>

            <label for="start"><b>End date:</b></label>
            <input type="date" class = "date-input" id="enddate" name="enddate" value="{{enddate}}" min="" max="" required>
        <button type="submit" id="datefilter" class="datefilter"> Filter Date</button>
        </form>
        </ul>
        
        <div class = "container">
            <div class= "card-row row">
                {{#ifCond user_role '==' "Staff"}}
                <a href="/staff/contractrequests" class="indiv-cards-requester col">
                    <div class="">
                        <div class = "dashboard-item">Pending Documents</div>
                        <div class = "sub-dashboard-header">{{pending.today}} today</div>
                        <div class = "dashboard-item-body">{{pending.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}
                
                {{#ifCond user_role '==' "Attorney"}}
                <a href="/attorney/contractrequests" class="indiv-cards-requester col">
                    <div class="">
                        <div class = "dashboard-item">Pending Documents</div>
                        <div class = "sub-dashboard-header">{{pending.today}} today</div>
                        <div class = "dashboard-item-body">{{pending.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}

                {{#ifCond user_role '==' "Staff"}}
                <a href="/staff/contractrequests" class="indiv-cards-requester col">
                    <div class="">
                        <div class = "dashboard-item">Cleared Documents</div>
                        <div class = "sub-dashboard-header"><br></div>
                        <div id = "clearedPercentage" class = "dashboard-item-body">{{cleared.percentage}}%</div>
                        <div class = "dashboard-item-sub-body">{{cleared.count}}/{{requestCount}} Documents Cleared</div>
                    </div>
                </a>
                {{/ifCond}}

                {{#ifCond user_role '==' "Attorney"}}
                <a href="/attorney/contractrequests" class="indiv-cards-requester col">
                    <div class="">
                        <div class = "dashboard-item">Cleared Documents</div>
                        <div class = "sub-dashboard-header"><br></div>
                        <div id = "clearedPercentage" class = "dashboard-item-body">{{cleared.percentage}}%</div>
                        <div class = "dashboard-item-sub-body">{{cleared.count}}/{{requestCount}} Documents Cleared</div>
                    </div>
                </a>
                {{/ifCond}}

                {{#ifCond user_role '==' "Staff"}}
                <a href="/staff/contractrequests" class="indiv-cards-requester col" onclick="">
                    <div class="">
                        <div class = "dashboard-item">Waiting Documents</div>
                        <div class = "sub-dashboard-header">{{waiting.today}} today</div>
                        <div class = "dashboard-item-body">{{waiting.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}

                {{#ifCond user_role '==' "Attorney"}}
                <a href="/attorney/contractrequests" class="indiv-cards-requester col" onclick="">
                    <div class="">
                        <div class = "dashboard-item">Waiting Documents</div>
                        <div class = "sub-dashboard-header">{{waiting.today}} today</div>
                        <div class = "dashboard-item-body">{{waiting.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}
            </div>
            <div class= "card-row row">
                {{#ifCond user_role '==' "Staff"}}
                <a href="/staff/contractrequests" class="indiv-cards-requester col" onclick="">
                    <div class="">
                        <div class = "dashboard-item">To Review</div>
                        <div class = "sub-dashboard-header">{{toreview.today}} today</div>
                        <div class = "dashboard-item-body">{{toreview.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}

                {{#ifCond user_role '==' "Attorney"}}
                <a href="/attorney/contractrequests" class="indiv-cards-requester col" onclick="">
                    <div class="">
                        <div class = "dashboard-item">To Review</div>
                        <div class = "sub-dashboard-header">{{toreview.today}} today</div>
                        <div class = "dashboard-item-body">{{toreview.all}}</div>
                        <div class = "dashboard-item-sub-body">Documents</div>
                    </div>
                </a>
                {{/ifCond}}

                <div class="indiv-cards no-hover-dashboard col">
                    <div class = "dashboard-item">Status of Contracts</div>
                    <div id = "piechart" class = "chart"></div>
                </div>
                
                <div class="indiv-cards no-hover-dashboard col">
                    <div class = "dashboard-item">Contract Request Per Type</div>
                    <div id = "columnchart" class = "chart"></div>
                </div>
            </div>
            <div class= "card-row row">
                <div class="indiv-cards no-hover-dashboard col">
                    <div class = "dashboard-item">Violation Per Department</div>
                    <div id = "columnchart-violation-dept" class = "chart"></div>
                </div>
                <div class="indiv-cards no-hover-dashboard col">
                    <div class = "dashboard-item">Violation Per Type</div>
                    <div id = "columnchart-violation-type" class = "chart"></div>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    // for pie chart
    var data = google.visualization.arrayToDataTable([
        ['Status', 'Requests'],
        ['Pending',     {{pending.all}}],
        ['Initial Review',      {{initialReview.count}}],
        ['Legal Review',  {{legalReview.count}}],
        ['Cleared', {{cleared.count}}],
    ]);

    var options = {
        chartArea: {
        height: '70%',
        width: '70%'
        },
        legend: 'labeled',
        pieSliceText: 'none',
        colors: ['#6DB388', '#00713D', '#1A6939', '#2B834D'],
        backgroundColor: { fill:'transparent' }
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);

    // for column chart of contract request per type
    var data2 = google.visualization.arrayToDataTable([
        ['Request Types', 'Count', { role: 'style' }],
        {{#each contractTypes}}
        ['{{name}}', {{requestCount}}, '#00713D'],
        {{/each}}
    ]);

    var options2 = {
        width: 350,
        height: 200,
        legend: { position: 'none' },
        hAxis: { textPosition: 'none' },
        backgroundColor: 'transparent',
        gridlines: { color: 'transparent' },
        };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
    columnchart.draw(data2, options2);

    // for column chart of violation per department
    var data3 = google.visualization.arrayToDataTable([
        ['Department', 'Count', { role: 'style' }],
        {{#each departments}}
        ['{{abbrev}}', {{violationCount}}, '#00713D'],
        {{/each}}
    ]);

    var options3 = {
        width: 550,
        height: 200,
        legend: { position: 'none' },
        backgroundColor: 'transparent',
        gridlines: { color: 'transparent' },
        };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart-violation-dept'));
    columnchart.draw(data3, options3);

    // for column chart of violation per type
    var data4 = google.visualization.arrayToDataTable([
        ['Contract Type', 'Count', { role: 'style' }],
        {{#each contractTypes}}
        ['{{name}}', {{violationCount}}, '#00713D'],
        {{/each}}
    ]);

    var options4 = {
        width: 550,
        height: 200,
        legend: { position: 'none' },
        hAxis: { textPosition: 'none' },
        backgroundColor: 'transparent',
        gridlines: { color: 'transparent' },
        };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart-violation-type'));
    columnchart.draw(data4, options4);

    }
    
</script>