<!DOCTYPE html>

<html>
    <head>
        <title>Issue Log</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="/js/issuelog.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/css/templatesoulcstyle.css">
        <script>
        /*$(document).ready(() => {
            $('table tbody tr').click(function (){
                alert($(this).text());
            });
        });*/
        </script>
    </head>
    <body>
        <div id="header">OULC Issue Log</div>
        <div class="container">
            <div class="row"> 
                <!-- LEFT SIDE -->                
                    <div class="col-6">
                        <div class="" id = "upload-btn-header">
                            <div id = "search-upload-header">
                                <ul class="nav-tabs" id="myTab" role="tablist">
                                    <button class="nav-item issue-log-type selected" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                    aria-controls="all" value="" onclick="viewAllIssues()">
                                    All
                                    </button>
                                    <button class="nav-item issue-log-type" id="open-tab" data-toggle="tab" href="" role="tab"
                                    aria-controls="activeusers" value="Pending" onclick="viewPendingIssues()">
                                    Pending
                                    </button>
                                    <button class="nav-item issue-log-type" id="resolved-tab" data-toggle="tab" href="" role="tab"
                                    aria-controls="activeusers" value="Resolved" onclick="viewResolvedIssues()">
                                    Resolved
                                    </button>
                                </ul>
                                <input class="form-control" id="searchIssueInput" type="text" onkeyup="searchIssueTable()" placeholder="Search...">
                        </div>
                        <div id ="dropdown-search">
                            <div id="dropdowns">
                                <label for="" class="dept-and-role" style = "display: none;";>Issue Type</label>
                                <select id="issuetypedropdown" oninput="filterIssueType();" onChange="resetIssueType();">
                                    <option selected disabled value="a">Select Issue Type </option>
                                    <option value="All">All</option>
                                    <option value="Need for Template">Need for Template</option>
                                    <option value="Delay">Delay</option>
                                    <option value="Feedback">Feedback</option>
                                <!--{{#each contracttypes}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}-->
                                </select>
                            </div>
                            {{#compare user_role "==" "Requester"}}
                                <button class="upload-btn addnew-btn" data-bs-toggle="modal" data-bs-target="#createIssueModal">+ Create New Issue</button>
                        </div>
                        {{/compare}}
                    </div>
                    <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div id="user-table" class="tab-pane active">
                            <div class="w-100">
                                <table id="table" class="sortable table table-hover"
                                    style="width: 100%; font-size: 16px; background:#D9D9D9;">
                                    <thead class="table-headers">
                                        <tr>
                                            <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: none;">Issue No.</th>
                                            <th style="width: 15%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Title</th>
                                            <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Type</th>
                                            <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white; display:">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myIssueTable" style = "word-break: break-word;">
                                        {{#each issues}}
                                        <tr style="cursor: pointer;" id="{{_id}}" onclick="">
                                            <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid #9F9F9F; border-left: none;">{{issueNumber}}</td>
                                            <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid #9F9F9F; border-left: 1px solid white;">{{title}}</td>
                                            <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid #9F9F9F; border-left: 1px solid white;">{{type}}</td>
                                            <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid #9F9F9F; border-left: 1px solid white; display:">{{status}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RIGHT SIDE -->
                <div class="col-6">
                    <div id="status-header">
                        <div class = "status-text" id="statusText"></div>
                        <div class = "status-text" id ="status-header-text"></div>
                    </div>
                    <div id="issueView">
                        <div id = "issueInitialView" class="d-grip gap-3">
                            <div class="p-2" style = "text-align: center;">
                                <img src="/img/dlsu_logo.png" style = "width: 50%; filter: opacity(30%);">
                            </div><br>
                            <div class="p-2">
                                <p class="p text-center text-body" id="issueContent">Click on a issue to view them here.</p>
                            </div>
                        </div>
                        <div id = "issueSelected" style = "color: black" hidden>
                            <div id = "issueDiv">
                                Status: <span id = "status"> </span> <br>
                                DEPARTMENT: <span id = "department"> </span> Department <br>
                                ISSUE TITLE: <span id = "title"> </span> <br>
                                ISSUE TYPE: <span id = "type"> </span> <br>
                                DOCUMENT NUMBER: <a id = "documentnumber" > </a> <br>
                                SUMMARY: <span id = "summary"> </span> <br>
                                RESPONSE: <span id = "response"> </span>
                            </div>

                            <div id = "solutionDiv">
                                <input type = "hidden" class="form-control" value="" name="resolveIssueID" id="issueID">
                                {{#compare user_role '==' 'Requester'}}
                                <div class="mb-3">
                                    <label for="resolveIssue" class="form-label" style="display:none;">Solution</label>
                                    <textarea class="form-control" id="resolveIssue" name="resolveIssue" rows="3" readonly></textarea>
                                </div>
                                {{/compare}}

                                {{#compare user_role '!=' 'Requester'}}
                                <div class="mb-3">
                                    <label for="resolveIssue" class="form-label" style="display:none;">Solution</label>
                                    <textarea class="form-control" id="resolveIssue" name="resolveIssue" rows="3" placeholder="Type your response here..." required></textarea>
                                </div>

                                <div class ="revision-div">
                                    <button type="submit" class="resolve-btn-modal" data-bs-toggle="modal" data-bs-target="#resolveIssueModal" id="resolveIssueBtn">Resolve Issue</button>
                                </div>
                                {{/compare}}
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    <!-- Create Issue Modal -->
    <div class="modal fade" id="createIssueModal" tabindex="-1" aria-labelledby="createIssueModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 modal-title" id="exampleModalLabel">Create New Issue</h5>
                    <button type="button" class="header-close-btn" data-bs-dismiss="modal">&times;</button>
                </div>
                <form action="/requester/createissue" method="POST">
                    <div class="modal-body">
                        <input type="hidden" id="requesterid" name="requesterid" value="{{user_id}}">
                        <label for="issueTitle" class="form-label">Title</label>
                        <input class="form-control" id="issueTitle" name="issueTitle" required></input>
                        
                        <label for="issueType" class = "modal-text">Type / Nature of Concern</label><br>
                        <select name="issueType" id="issueType" class="dropdown" required>
                            <option>Type 1</option>
                            <option>Type 2</option>
                        </select>

                        <label for="issueSummary" class="form-label">Summary</label>
                        <textarea class="form-control" id="issueSummary" name="issueSummary" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="upload-btn-modal" id="createIssueBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <!-- Issue Resolve Modal -->
    <div class="modal fade" id="resolveIssueModal" tabindex="-1" aria-labelledby="resolveIssueModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 modal-title" id="exampleModalLabel">Resolve Issue</h5>
                </div>

                <div class="modal-body centered">
                    Are you sure you want to mark this issue as Resolved?
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="mark-as-btn" id="confirmResolveIssue">Yes</button>
                </div>
            </div>
        </div>
    </div>

</html>
<script>
    $(document).ready(() => {
        $('.action-cell').click(function(event){
            event.stopPropagation();
        });
    });
</script>