<!DOCTYPE html>

<html>
    <head>
        <title>Approval Requests</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/requestsoulcstyle.css">
        <script src="/js/requestsoulc.js" type="text/javascript"></script>
        <script src="/js/oulctablefilter.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">Contract Approval Requests</div>
        <input type="hidden" id="currentRole" value="{{user.role.name}}">
        <input type="hidden" id="currentId" value="{{user._id}}">

        <ul class="nav-tabs" id="myTab" role="tablist">
            {{#compare user.role.name '==' 'Staff'}}
            <button class="nav-item" id="all-tab" data-toggle="tab" href="#all" role="tab"
                aria-controls="all" value="" onclick="viewAllRequests()">
                All
            </button>
            <button class="nav-item selected" id="pending-tab" data-toggle="tab" href="" role="tab"
                aria-controls="activeusers" value="Pending" onclick="viewPending()">
                Pending
            </button>
            <button class="nav-item" id="toreview-tab" data-toggle="tab" href="" role="tab"
                aria-controls="activeusers" value="To Review" onclick="viewToReview()">
                To Review
            </button>
            <button class="nav-item" id="waiting-tab" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Waiting" onclick="viewWaiting()">
                Waiting
            </button>
            <button class="nav-item" id="forlegalreview-tab" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="For Legal Review" onclick="viewForLegalReview()">
                For Legal Review
            </button>
            {{/compare}}
            {{#compare user.role.name '==' 'Attorney'}}
            <button class="nav-item" id="all-tab-atty" data-toggle="tab" href="#all" role="tab"
                aria-controls="all" value="" onclick="viewAllRequestsAtty()">
                All
            </button>
            <button class="nav-item selected" id="forlegalreview-tab-atty" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="For Legal Review" onclick="viewForLegalReviewAtty()">
                For Legal Review
            </button>
            <button class="nav-item" id="waiting-tab-atty" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Waiting" onclick="viewWaitingAtty()">
                Waiting
            </button>
            <button class="nav-item" id="cleared-tab-atty" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Cleared" onclick="viewClearedAtty()">
                Cleared
            </button>
            <button class="nav-item" id="rerouted-tab-atty" data-toggle="tab" href="" role="tab" 
                aria-controls="inactiveusers" value="Rerouted" onclick="viewReroutedAtty()">
                Rerouted
            </button>
            <button class="nav-item" id="cancelled-tab-atty" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Cancelled" onclick="viewCancelledAtty()">
                Cancelled
            </button>
            {{/compare}}
            {{#compare user.role.name '==' 'Requester'}}
            <button class="nav-item" id="all-tab-requester" data-toggle="tab" href="#all" role="tab"
                aria-controls="all" value="" onclick="viewAllRequestsRequester()">
                All
            </button>
            <button class="nav-item" id="waiting-tab-requester" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="For Revision" onclick="viewWaitingRequester()">
                For Revision
            </button>
            <button class="nav-item selected" id="pending-tab-requester" data-toggle="tab" href="" role="tab"
                aria-controls="activeusers" value="Pending" onclick="viewPendingRequester()">
                Pending
            </button>
            <button class="nav-item" id="forlegalreview-tab-requester" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="For Legal Review" onclick="viewForLegalReviewRequester()">
                For Legal Review
            </button>
           <button class="nav-item" id="cleared-tab-requester" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Cleared" onclick="viewClearedRequester()">
                Cleared
            </button>
           <button class="nav-item" id="cancelled-tab-requester" data-toggle="tab" href="" role="tab"
                aria-controls="inactiveusers" value="Cancelled" onclick="viewCancelledRequester()">
                Cancelled
            </button>
            {{/compare}}
        </ul>

        <div id="query-search">
            <input class="form-control" id="myInput" onkeyup="searchRequestTable()" type="text" placeholder="Search...">
        </div>

        <div id="dropdowns">
            <label for="" class="dept-and-role">Contract Type</label>
            <select id="contracttypedropdown" oninput="filterContractType();" onChange="resetRequestType();">
                <option selected disabled value="a">Select Request Type </option>
                <option value="All">All</option>
                {{#each contracttypes}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>

            <label for="" class="dept-and-role" style="margin-left: 20px;">Request Type</label>
            <select id="requesttypedropdown" oninput="filterRequestType();" onChange="resetContractType();">
                <option selected disabled value="a">Select Request Type </option>
                <option value="All">All</option>
                <option value="Regular">Regular</option>
                <option value="Express">Express</option>
            </select>
        </div>

        <div class="tab-pane active" id="pending-tab" role="tabpanel" aria-labelledby="pending-tab">
            <div id="user-table" class="tab-pane active">
                <div class="w-100">
                    <table id="table" class="sortable table table-hover"
                        style="width: 100%; font-size: 16px; background:#D9D9D9;">
                        <thead class="table-headers">
                            <tr>
                                <th style="width: 12%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Request Date</th>
                                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Days Gap</th>
                                <th style="width: 13%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Effectivity Date</th>
                                <th style="width: 13%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Contract Type</th>
                                <th style="width: 15%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Document Title</th>
                                {{#compare user.role.name '!=' 'Requester'}}
                                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Department</th>
                                {{else}}
                                <th style="width: 13%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Document No.</th>
                                {{/compare}}
                                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Type</th>
                                <th style="width: 10%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Status</th>
                                <!-- For tab -->
                                <th style="width: 15%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white; display:none;">Atty</th> 
                            </tr>
                        </thead>
                        <tbody id="myRequestTable">

                            {{#each contractrequests}}

                            <tr style="cursor: pointer;"  id="{{_id}}" {{#compare ../user.role.name '==' 'Requester'}}onclick="window.location.href='/request/requester/{{_id}}'"{{else}}onclick="window.location.href='/request/staff/{{_id}}'"{{/compare}}>
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;" id = "" value = "">{{formatdate requestDate}}</td>
                                <td class="days-gap text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white; value = "{{daysGap}}"">{{daysGap}}</td>
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{formatdate effectivityStartDate}}</td>
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{contractType.name}}</td>
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{requestTitle}}</td>
                                {{#compare ../user.role.name '!=' 'Requester'}}
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{requester.department.abbrev}}</td>
                                {{else}}
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{trackingNumber}}</td>
                                {{/compare}}
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{reviewType}}</td>
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{status}}</td>
                                <!-- For tab -->
                                <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white; display:none;">{{assignedAttorney._id}}</td>
                            </tr>

                            {{/each}}

                        </tbody>
                    </table>
                </div>
                <div id = "after-table"></div>
            </div>
        </div>
        
        
    </body>
</html>