<!DOCTYPE html>

<html>

<head>
    <title>Contract Repository</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/specificrequeststyle.css">

    <script>
        $(document).ready( () => {

            function dateDiffInDays(a, b) {
                const _MS_PER_DAY = 1000 * 60 * 60 * 24;
                // Discard the time and time-zone information.
                const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
                const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());
                
                return Math.floor((utc2 - utc1) / _MS_PER_DAY);
            }
            var startDate = new Date();
            var endDate = "{{repositoryFile.requestid.effectivityEndDate}}";
            var daysGapExpiry = dateDiffInDays(new Date(), new Date(endDate));
            if (daysGapExpiry <= 7 && daysGapExpiry >= 0) {
                $('.expiry-prompt').css('display', 'block');
                $('.expired-prompt').css('display', 'none');
            }
            else if (daysGapExpiry < 0) {
                $('.expired-prompt').css('display', 'block');
                $('.expiry-prompt').css('display', 'none');
            }
            else {
                $('.expired-prompt').css('display', 'none');
                $('.expiry-prompt').css('display', 'none');
            }
   
            $('span').click(function(event){
                event.stopPropagation();
            });
            
            $('.addtag-btn').click(function () {
                var tag = document.getElementById("inputtag").value;
                var id = document.getElementById("repid").value;
                var container = document.getElementsByClassName("tag-container");
                var buttons = container[0].getElementsByTagName("button");
                var exists = 0;

                for (var iIndex = 0; iIndex < buttons.length; iIndex++){
                    if(buttons[iIndex].value == tag){
                        exists++;
                    }
                };

                if(exists == 0){
                    var button = document.createElement("button");
                    var tagcontainer = document.getElementById("tag-container");
                    button.setAttribute("id", "tag-view-" + tag);
                    button.setAttribute("class", "tag removetag-btn");
                    button.value = tag;
                    var closeBtn = ' \u00D7'
                    button.innerText = tag + closeBtn;
                    tagcontainer.appendChild(button);
                    document.getElementById("inputtag").value = "";
                } else{
                    //alert("TAG ALREADY EXISTS. INPUT NEW ONE");
                    document.getElementById("invalidtag").style.display = "";
                }

                $.ajax({
                    url: "/addtag",
                    method: "GET",
                    contentType: "application/json",
                    data: {tag: tag, id: id},
                    success: function() {
                        console.log('SUCCESS');
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
        });

         $(document).on("click", ".removetag-btn", function () {

            var tagID = this.id;
            var tag = document.getElementById(tagID).value;
            var id = document.getElementById("repid").value;
            var container = document.getElementById("tag-container");
            var button = document.getElementById(tagID);
            container.removeChild(button);
                $.ajax({
                    url: "/removetag",
                    method: "GET",
                    contentType: "application/json",
                        data: {tag: tag, id: id},
                    success: function() {
                        console.log('SUCCESS');
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });        
            });

            $('.inputtag').keyup(function () {
                document.getElementById("invalidtag").style.display = "none";
            });

        });
        
    </script>
</head>

<body>
    <div id="header">
        Contract Repository
    </div>
    <div class = "subheader-row row g-0">
        <div class = "col-6">
            <div class = "contract-repo-nav" id = "subheader">
                {{#ifCond user_role '!=' "Requester"}}
                <a href="/staff/repository" class = "contract-repository-href">Repository Files</a>
                {{/ifCond}}
                {{#ifCond user_role '==' "Requester"}}
                <a href="/requester/repository" class = "contract-repository-href">Repository Files</a>
                {{/ifCond}}

                <p class = "divider" style = "display: inline;"> > </p>
                <a href = "/staff/viewFile/{{repositoryFile._id}}" id = "selected" class = "contract-repository-href">{{repositoryFile.name}}</a>
            </div>
        </div>
        <div class = "col-6">
            {{#compare user_role '==' 'Attorney'}}
            <button onclick="window.location.href='/request/attorney/{{repositoryFile.requestid._id}}';" class="full-size-btn">View Workflow</button>
            {{/compare}}
            {{#compare user_role '==' 'Requester'}}
            <button onclick="window.location.href='/request/requester/{{repositoryFile.requestid._id}}';" class="full-size-btn">View Workflow</button>
            {{/compare}}
            {{#compare user_role '==' 'Staff'}}
            <button onclick="window.location.href='/request/staff/{{repositoryFile.requestid._id}}';" class="full-size-btn">View Workflow</button>
            {{/compare}}
            <button class="full-size-btn" data-bs-toggle="modal" data-bs-target="#viewFullSizeModal">View Full Size</button>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE -->
            <div class="col-6">
                <embed id ="pdf-viewer" src="/attorney/repositoryfile/{{repositoryFile.file}}" type="application/pdf" width="100%" height="600px"/>
            </div>
            <!-- RIGHT SIDE -->
            <div id = "summary-table" class="col-6">
                Document Number<br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.trackingNumber}}" readonly>
                Document Title<br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.requestTitle}}" readonly>
                Document Type <br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.contractType.name}}" readonly>
                Subject Matter<br>
                <textarea name="textarea" class = "subject-matter" readonly>{{repositoryFile.requestid.subjectMatter}}</textarea>
                <div class="col-6">
                    Effectivity Date <br>
                </div>
                <div class="row">
                    <div class="col">
                        From: <input type="text" class = "text-input" value="{{formatdate repositoryFile.requestid.effectivityStartDate}}" readonly>
                    </div>
                    <div class="col">
                        To: <input type="text" class = "text-input" value="{{formatdate repositoryFile.requestid.effectivityEndDate}}" readonly>
                    </div>
                    <div class="col">
                        Duration: <input type="text" class = "text-input" value="{{repositoryFile.daysDuration}} days" readonly>
                    </div>
                    <div class="expiry-prompt">
                        This contract is expiring soon.
                    </div>
                    <div class="expired-prompt">
                        This contract is now expired.
                    </div>
                </div>
                <br>
                <div class="col-6">
                    File<br>
                    <a href="/attorney/repositoryfile/{{repositoryFile.file}}" class="download-repository-file text-body">{{repositoryFile.name}} <i class="bi bi-download" style="cursor: pointer;"></i></a>
                </div>
                <br>
                <div id = "add-tag-div">
                    <p>Tags</p>
                    <input type="hidden" id="repid" name="repid" value="{{repositoryFile._id}}">
                    <input type="text" id="inputtag" class="inputtag" name="inputtag" placeholder="Enter new tag...">
                    <button type="" class="addtag-btn">+ Add Tag</button>
                </div>

                <p id="invalidtag" style="color: red; display: none;">Tag already exists. Enter a new tag name.</p> 
                
                <div id="tag-container" class="tag-container">
                    {{#each repositoryFile.tags}}
                    <button id = "tag-view-{{this}}" class="tag removetag-btn" value="{{this}}"><span style= "cursor: default;" >{{this}} </span>&times;</button> 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- View Full Size Template Modal -->
    <div class="modal fade modal-xl" id="viewFullSizeModal" tabindex="-1" aria-labelledby="viewFullSizeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100" id="exampleModalLabel">View Full Size Template</h5>
                    <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div id="templateViewFullSize">
                        <embed id ="pdf-viewer" src="/attorney/repositoryfile/{{repositoryFile.file}}" type="application/pdf" width="100%" height="800px"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

    