<!DOCTYPE html>

<html>

<head>
    <title>Contract Repository</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/specificrequeststyle.css">

    <script>
        $(document).ready( () => {
            $('.addtag-btn').click(function () {
                 var tag = document.getElementById("inputtag").value;
                 var id = document.getElementById("repid").value;
                 var container = document.getElementById("tag-container");
                 var button = document.createElement("button");
                 //button.setAttribute("id", "tag-view");
                 button.setAttribute("class", "tag removetag-btn");
                 //button.classList.add("tag removetag-btn");
                 button.value = tag;
                 button.innerText = tag + " x";
                 container.appendChild(button);
                 document.getElementById("inputtag").value = "";

            $.ajax({
                url: "/addtag",
                method: "GET",
                contentType: "application/json",
                 data: {tag: tag, id: id},
                success: function() {
                    console.log('SUCCESS');
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

         $('.removetag-btn').click(function () {

             var tag = document.getElementById("tag-view").value;
             var id = document.getElementById("repid").value;
             var container = document.getElementById("tag-container");
             var button = document.getElementById("tag-view");
             container.removeChild(button);

            $.ajax({
                url: "/removetag",
                method: "GET",
                contentType: "application/json",
                 data: {tag: tag, id: id},
                success: function() {
                    console.log('SUCCESS');
                },
                error: function(err) {
                    console.log(err);
                }
            });

        });

        });
    </script>
</head>

<body>
    <div id="header">
        Contract Repository
    </div>
    <div class = "row">
        <div class = "col-6">
            <div class = "contract-repo-nav" id = "subheader">
                <a href="/staff/repository" class = "contract-repository-href">Contract Repository</a>
                <p class = "divider" style = "display: inline;"> > </p>
                <a href = "/" id = "selected" class = "contract-repository-href">{{repositoryFile.requestid.requestTitle}}</a>
            </div>
        </div>
        <div class = "col-6">
            <span class = "info-nav-item">Information</span>
        </div>
    </div>
    
    <div class="container">
        <div class="row">

            <!-- LEFT SIDE -->
            <div class="col-6">
                <embed id ="pdf-viewer" src="/attorney/repositoryfile/{{repositoryFile.file}}" type="application/pdf" width="100%" height="600px"/>
            </div>
            <!-- RIGHT SIDE -->
            <div id = "summary-table" class="col-6">
                Document Number<br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.trackingNumber}}" readonly>
                Document Title<br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.requestTitle}}" readonly>
                Document Type <br>
                <input type="text" class = "text-input" value="{{repositoryFile.requestid.contractType.name}}" readonly>
                Subject Matter<br>
                <textarea name="textarea" class = "subject-matter" readonly>{{repositoryFile.requestid.subjectMatter}}</textarea>
                <div class="col-6">
                    Effectivity Date <br>
                </div>
                <div class="row">
                    <div class="col">
                        From: <input type="text" class = "text-input" value="{{formatdate repositoryFile.requestid.effectivityStartDate}}" readonly>
                    </div>
                    <div class="col">
                        To: <input type="text" class = "text-input" value="{{formatdate repositoryFile.requestid.effectivityEndDate}}" readonly>
                    </div>
                    <div class="col">
                        Duration: <input type="text" class = "text-input" value="{{repositoryFile.daysDuration}} days" readonly>
                    </div>
                </div>
                <br>
                File<br>
                <div id = "add-tag-div">
                    <p>Tags</p>
                    <!--<form action="/staff/addtag" method="POST"> -->
                    <input type="hidden" id="repid" name="repid" value="{{repositoryFile._id}}">
                    <input type="text" id="inputtag" name="inputtag" placeholder="Enter new tag..."><br>
                    <button type="" class="addtag-btn">+ Add Tag</button>
                <!--</form> -->
                </div>
                
                <div id="tag-container">
                {{#each repositoryFile.tags}}
                <button id = "tag-view" class="tag removetag-btn" value="{{this}}"> {{this}} <span>&times;</span></button> 
                {{/each}}
                </div>

            </div>
        </div>

    </div>
</body>

</html>

    