<!DOCTYPE html>

<html>

<head>
    <title>Contract Approval Request</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/specificrequeststyle.css">
    <script src="/js/specificrequest.js" type="text/javascript"></script>
</head>

<body>
    <div id="header">
        Contract Approval Request Details
        <!--
        {{#each user}}
        <input type="" id="username" value="{{fullName}}">
        {{/each}}
        !-->
        <div id = "status">
            <div class = "status-text">Status:</div>
            <div class = "status-text actual">{{contractrequest.status}}</div>
            <input type="hidden" id="statusCounter" name="statusCounter" value="{{contractrequest.statusCounter}}"</input>
        </div>
    </div>
    <div class = "subheader-row">
        <div class = "col-6">
            <div id="subheader">
                <a href="/staff/contractrequests" class = "approval-request-href">Approval Requests</a>
                <p class = "divider" style = "display: inline;"> > </p>
                <a href = "/" id = "selected" class = "approval-request-href">Approval Request Details</a>
            </div>
        </div>
        <div class="col-6">
            <button class="full-size-btn" data-bs-toggle="modal" data-bs-target="#view-full-size-modal">View Full Size</button>
        </div>
    </div>
    

    <div class="container">
        <div class="row">
            <!-- LEFT SIDE -->
            <div class="left-col col-6">
                <div class="input-group mb-3">
                    <span class="file-selected input-group-text">File Selected:</span>  
                    <select class="form-select" name="fileSelected" id="fileSelected" aria-label="file-selected">
                        {{#each latestversioncontracts}}
                            <option value="{{file}}">{{filename}}</option>
                        {{/each}}
                        {{#each referencedocuments}}
                            <option value="{{file}}">{{filename}}</option>
                        {{/each}}
                    </select>
                </div>
                <div id="fileView">
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div id = "right-col" class="col-6">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <button class="nav-item selected" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary"
                            type="button" role="tab" aria-controls="summary" onclick="selectSummary()">Summary</button>
                    </li>
                    <li>
                        <button class="nav-item" id="files-tab" data-bs-toggle="tab" data-bs-target="#files"
                            type="button" role="tab" aria-controls="files" onclick="selectFiles()">Files</button>
                    </li>
                    <li>
                        <button class="nav-item" id="version-tab" data-bs-toggle="tab" data-bs-target="#version"
                            type="button" role="tab" aria-controls="version" onclick="selectVersion()">Version</button>
                    </li>
                    <li>
                        <button class="nav-item" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion"
                            type="button" role="tab" aria-controls="discussion" onclick="selectDiscussion()">Discussion</button>
                    </li>
                    <li>
                        <button class="nav-item" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback"
                            type="button" role="tab" aria-controls="feedback" onclick="selectFeedback()">Feedback</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                        {{>summary}}
                    </div>
                    <div class="tab-pane" id="files" role="tabpanel" aria-labelledby="files-tab">
                        {{>files}}
                    </div>
                    <div class="tab-pane" id="version" role="tabpanel" aria-labelledby="version-tab">
                        {{>version}}
                    </div>
                    <div class="tab-pane" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
                        {{>discussion}}
                    </div>
                    <div class="tab-pane" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                        {{>feedback}}
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

<!-- For Legal Review Modal -->
<div class="modal fade" id="legalReviewModal" tabindex="-1" aria-labelledby="legalReviewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Confirm Mark as For Legal Review</h5>
            </div>

            <div class="modal-body centered">
                Are you sure you want to mark the request as for legal review?
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="mark-as-btn forlegalreview" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- For Revision Modal -->
<div class="modal fade" id="forRevisionModal" tabindex="-1" aria-labelledby="forRevisionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Revision Feedback Form</h5>
            </div>

            <div class="modal-body">
                <div class="custom-file mb-3">

                    <form action="/request/forrevision/staff" method="POST">
                    <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="addStaffFeedbackID">
                        <div class="input-feedback mb-3">
                            <label for="fullname" class="form-label">Enter Comments/Feedback:</label>
                            <input type="text" class="form-control" id="addStaffFeedback" name="addStaffFeedback" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn forrevision" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                        </div>
                    </form>
                </div>
            </div>

            

        </div>
    </div>
</div>

<!-- Upload Signed Contract Modal -->
<div class="modal fade" id="uploadRepositoryFile" tabindex="-1" aria-labelledby="uploadRepositoryFile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Upload Signed Contract</h5>
            </div>
            <div class="modal-body">
                <div class="custom-file mb-3">

                    <form action="/request/uploadRepositoryFile" method="POST" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="uploadRepositoryFileID">

                        <div class="mb-3">
                            <label for="file" class="modal-text custom-file-label">File Upload</label><br>
                            <input type="file" name="file" id="file" class="custom-file-input" required><br><br>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="{{contractrequest._id}}">Upload</button>
                        </div>
                    </form>
                </div>
            </div>            

        </div>
    </div>
</div>

<!-- View Full Size Template Modal -->
<div class="modal fade modal-xl" id="view-full-size-modal" tabindex="-1" aria-labelledby="view-full-size-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">View File Full Size</h5>
                <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div id="fileViewFull">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    
</html>



<script>

    function selectSummary() {
        document.getElementById("summary-tab").classList.add("selected");
        document.getElementById("files-tab").classList.remove("selected");
        document.getElementById("version-tab").classList.remove("selected");
        document.getElementById("discussion-tab").classList.remove("selected");
        document.getElementById("feedback-tab").classList.remove("selected");
    }
    
    function selectFiles() {
        document.getElementById("summary-tab").classList.remove("selected");
        document.getElementById("files-tab").classList.add("selected");
        document.getElementById("version-tab").classList.remove("selected");
        document.getElementById("discussion-tab").classList.remove("selected");
        document.getElementById("feedback-tab").classList.remove("selected");
    }
    function selectVersion() {
        document.getElementById("summary-tab").classList.remove("selected");
        document.getElementById("files-tab").classList.remove("selected");
        document.getElementById("version-tab").classList.add("selected");
        document.getElementById("discussion-tab").classList.remove("selected");
        document.getElementById("feedback-tab").classList.remove("selected");
    }
    function selectDiscussion() {
        document.getElementById("summary-tab").classList.remove("selected");
        document.getElementById("files-tab").classList.remove("selected");
        document.getElementById("version-tab").classList.remove("selected");
        document.getElementById("discussion-tab").classList.add("selected");
        document.getElementById("feedback-tab").classList.remove("selected");
    }
    function selectFeedback() {
        document.getElementById("summary-tab").classList.remove("selected");
        document.getElementById("files-tab").classList.remove("selected");
        document.getElementById("version-tab").classList.remove("selected");
        document.getElementById("discussion-tab").classList.remove("selected");
        document.getElementById("feedback-tab").classList.add("selected");
    }
</script>

    