<!DOCTYPE html>

<html>

<head>
    <title>Contract Approval Request</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/specificrequeststyle.css">
    <script src="/js/specificrequest.js" type="text/javascript"></script>
</head>

<body onload="checkAction()">
    <div id="header">
        Contract Approval Request Details
        <!--<input type="hidden" id="requestid" value="{{contractrequest._id}}">-->
        <input type="hidden" id="username" value="{{user_fullname}}">
        <input type="hidden" id="conversationid" value="{{conversation._id}}">
        <input type="hidden" id="negotiationid" value="{{negotiation._id}}">

        <div id = "status">
            <div id = "statusNewDiv">
                <div class = "status-and-actual-div">
                    <div id = "statusTextDiv" class = "status-text">Status: </div>
                    <div id = "statusTextDiv" class = "status-text actual">{{contractrequest.status}}</div>
                </div>
                <div id = "assignedToDiv" class = "status-text actual"><b>Assigned to:</b> {{contractrequest.assignedStaff.fullName}} (Staff) & {{contractrequest.assignedAttorney.fullName}}</div>
            </div>
                <input type="hidden" id="statusCounter" name="statusCounter" value="{{contractrequest.statusCounter}}">
                <input type="hidden" id="contractRequestId" name="contractRequestId" value="{{contractrequest._id}}">
                <input type="hidden" id="contractStatus" name="contractStatus" value="{{contractrequest.status}}">
                <input type="hidden" id="assignedAttorneyId" name="assignedAttorneyId" value="{{contractrequest.assignedAttorney._id}}">
                <input type="hidden" id="assignedStaffId" name="assignedStaffId" value="{{contractrequest.assignedStaff._id}}">
                <input type="hidden" id="currentUserId" name="currentUserId" value="{{user._id}}">
            </div>
        </div>
    </div>
    <div class = "subheader-row">
        <div class = "col-6">
            <div id="subheader">
                {{#compare user_role "==" "Requester"}}
                <a href="/requester/contractrequests" class = "approval-request-href">Approval Requests</a>
                {{/compare}}
                {{#compare user_role "==" "Staff"}}
                <a href="/staff/contractrequests" class = "approval-request-href">Approval Requests</a>
                {{/compare}}
                {{#compare user_role "==" "Attorney"}}
                <a href="/attorney/contractrequests" class = "approval-request-href">Approval Requests</a>
                {{/compare}}
                
                <p class = "divider" style = "display: inline;"> > </p>
                {{#compare user_role "==" "Requester"}}
                <a href = "/request/requester/{{contractrequest._id}}" id = "selected" class = "approval-request-href">Approval Request Details</a>
                {{/compare}}
                {{#compare user_role "==" "Staff"}}
                <a href = "/request/staff/{{contractrequest._id}}" id = "selected" class = "approval-request-href">Approval Request Details</a>
                {{/compare}}
                {{#compare user_role "==" "Attorney"}}
                <a href = "/request/attorney/{{contractrequest._id}}" id = "selected" class = "approval-request-href">Approval Request Details</a>
                {{/compare}}
            </div>
        </div>
        <div class="col-6">
             
            {{#ifCond user_role '==' "Requester"}}
            
                {{#unless withNegotiation}} <!-- Adding of Third Party for email thread. Will still check if needed. Revise implementation if ever. -->
                    <button style="margin-right: 10px;" class="full-size-btn" id="addThirdPartyBtn" data-bs-toggle="modal" data-bs-target="#add-third-party-modal">Add Third Party</button>
                {{/unless}}

                {{#compare contractrequest.status '==' "Cleared"}}
                    <button class="upload-signed-btn" data-bs-toggle="modal" data-bs-target="#uploadRepositoryFile">Upload Signed Contract/s</button>
                    <button class="cancelRequest" data-bs-toggle="modal" data-bs-target="#reportIssueModal">Report Issue</button>
                {{else}}
                    <button id = "cancelBtn" class="cancelRequest" data-bs-toggle="modal" data-bs-target="#cancelRequest">Cancel Request</button>
                {{/compare}}
            {{/ifCond}}

            {{#ifCond user_role '==' "Staff"}}
                {{#ifCond contractrequest.assignedStaff '==' null}}
                    <button id = "assignStaffBtn" class="assignStaff" data-bs-toggle="modal" data-bs-target="#assignOULC">Assign to Myself</button>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond user_role '==' "Attorney"}}
                {{#ifCond contractrequest.assignedAttorney '==' null}}
                    <button id = "assignAttorneyBtn" class="assignOULC" data-bs-toggle="modal" data-bs-target="#assignOULC">Assign to Myself</button>
                {{/ifCond}}
            {{/ifCond}}
        </div>
    </div>
    

    <div class="container">
        <div class="row">
            <!-- LEFT SIDE -->
            <div class="left-col col-6">
                
                <div class="input-group mb-3">
                    <span class="file-selected input-group-text">File Selected:</span>  
                    <select class="form-select" name="fileSelected" id="fileSelected" aria-label="file-selected">
                        {{#each latestversioncontracts}}
                            <option class="contract-option" value="{{file}}">{{filename}}</option>
                        {{/each}}
                        {{#each referencedocuments}}
                            <option class="reference-document-option" value="{{file}}">{{filename}}</option>
                        {{/each}}
                    </select>
                    {{#compare user_role '==' 'Requester'}}
                        {{#compare contractrequest.status '==' 'For Revision'}}
                        <button class="btn" id="uploadNewVersion">Upload New Version</button>
                        {{/compare}}
                    {{/compare}}
                    <button class="full-size-btn" data-bs-toggle="modal" data-bs-target="#view-full-size-modal">View Full Size</button>
                </div>
                <div id="fileView">
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div id = "right-col" class="col-6">
                <!-- Nav tabs -->
                {{#ifCond user_role '==' "Attorney"}}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <button class="active nav-item selected" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary"
                            type="button" role="tab" aria-controls="summary" onclick="selectSummary()">Summary</button>
                    </li>
                    <li>
                        <button class="nav-item" id="files-tab" data-bs-toggle="tab" data-bs-target="#files"
                            type="button" role="tab" aria-controls="files" onclick="selectFiles()">Files</button>
                    </li>
                    <li>
                        <button class="nav-item" id="version-tab" data-bs-toggle="tab" data-bs-target="#version"
                            type="button" role="tab" aria-controls="version" onclick="selectVersion()">Version</button>
                    </li>
                    <li>
                        <button class="nav-item" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion"
                            type="button" role="tab" aria-controls="discussion" onclick="selectDiscussion()">Discussion</button>
                    </li>
                    {{#if withNegotiationFiles}}
                    <li>
                        <button class="nav-item" id="negotiation-tab" data-bs-toggle="tab" data-bs-target="#negotiation"
                        type="button" role="tab" aria-controls="negotiation" onclick="selectNegotiation()">Negotiation</button>
                    </li>
                    {{/if}}
                    <li>
                        <button class="nav-item" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback"
                            type="button" role="tab" aria-controls="feedback" onclick="selectFeedback()">Feedback</button>
                    </li>
                </ul>
                {{/ifCond}}

                {{#ifCond user_role '==' "Staff"}}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <button class="active nav-item selected" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary"
                            type="button" role="tab" aria-controls="summary" onclick="selectSummary()">Summary</button>
                    </li>
                    <li>
                        <button class="nav-item" id="files-tab" data-bs-toggle="tab" data-bs-target="#files"
                            type="button" role="tab" aria-controls="files" onclick="selectFiles()">Files</button>
                    </li>
                    <li>
                        <button class="nav-item" id="version-tab" data-bs-toggle="tab" data-bs-target="#version"
                            type="button" role="tab" aria-controls="version" onclick="selectVersion()">Version</button>
                    </li>
                    <li>
                        <button class="nav-item" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion"
                            type="button" role="tab" aria-controls="discussion" onclick="selectDiscussion()">Discussion</button>
                    </li>
                    <li>
                        <button class="nav-item" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback"
                            type="button" role="tab" aria-controls="feedback" onclick="selectFeedback()">Feedback</button>
                    </li>
                </ul>
                {{/ifCond}}

                {{#ifCond user_role '==' "Requester"}}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <button class="active nav-item selected" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary"
                            type="button" role="tab" aria-controls="summary" onclick="selectSummary()">Summary</button>
                    </li>
                    <li>
                        <button class="nav-item" id="changes-tab" data-bs-toggle="tab" data-bs-target="#changes"
                            type="button" role="tab" aria-controls="changes" onclick="selectChanges()">Changes</button>
                    </li>
                    <li>
                        <button class="nav-item" id="version-tab" data-bs-toggle="tab" data-bs-target="#version"
                            type="button" role="tab" aria-controls="version" onclick="selectVersion()">Version</button>
                    </li>
                    <li>
                        <button class="nav-item" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion"
                            type="button" role="tab" aria-controls="discussion" onclick="selectDiscussion()">Discussion</button>
                    </li>
                    <li>
                        <button class="nav-item" id="negotiation-tab" data-bs-toggle="tab" data-bs-target="#negotiation"
                        type="button" role="tab" aria-controls="negotiation" onclick="selectNegotiation()">Negotiation</button>
                    </li>
                    <li>
                        <button class="nav-item" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback"
                            type="button" role="tab" aria-controls="feedback" onclick="selectFeedback()">Feedback</button>
                    </li>
                </ul>
                {{/ifCond}}
                
                <!-- Tab panes -->

                <div class="tab-content">
                    <div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                        {{>summary}}
                    </div>
                    <div class="tab-pane" id="files" role="tabpanel" aria-labelledby="files-tab">
                        {{>files}}
                    </div>
                    <div class="tab-pane" id="changes" role="tabpanel" aria-labelledby="changes-tab">
                        {{>changes}}
                    </div>
                    <div class="tab-pane" id="version" role="tabpanel" aria-labelledby="version-tab">
                        {{>version}}
                    </div>
                    <div class="tab-pane" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
                        {{>discussion}}
                    </div>
                    <div class="tab-pane" id="negotiation" role="tabpanel" aria-labelledby="negotiation-tab">
                        {{>negotiation}}
                    </div>
                    <div class="tab-pane" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                        {{>feedback}}
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- ACTION TOAST -->
    <div class="toast-container" style="position: fixed; top: 10px; right: 10px;">
        <div class="toast" id="action-toast">
            <div class="toast-header">
                <strong class="me-auto"><i class="bell-fill"></i> Action Done </strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                The request has been successfully <span id="action-done"></span>.
            </div>
        </div>
    </div>

</body>

<!-- UPLOAD NEW VERSION MODAL -->
<div class="modal fade" id="uploadNewVersionModal" tabindex="-1"
    aria-labelledby="uploadNewVersionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Upload New Version</h5>
            </div>
            <form action="/requester/uploadnewversion" method="POST" enctype="multipart/form-data">
                <input type="hidden" class="form-control" id="contractVersionIdForNewVersion" name="contractVersionIdForNewVersion">
                <div class="modal-body">
                    <div class="mb-3">
                        {{#each feedback}}
                        {{#if @last}}
                        <label for="oulcComments" class="form-label">OULC Comments</label>
                        <textarea class="form-control" id="oulcComments" name="oulcComments" rows="3">{{content}}</textarea>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="mb-3">
                        <label for="thirdPartyResponse" class="form-label">3rd Party Response</label>
                        <textarea class="form-control" id="thirdPartyResponse" name="thirdPartyResponse" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="requestingPartyRemarks" class="form-label">Remarks/Response by Requesting Party</label>
                        <textarea class="form-control" id="requestingPartyRemarks" name="requestingPartyRemarks" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="newVersionFile" class="form-label">File Upload</label>
                        <input class="form-control" type="file" id="newVersionFile" name="newVersionFile" accept="application/pdf" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="mark-as-btn">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--  END: UPLOAD NEW VERSION MODAL -->

<!-- PENDING CHANGES CONFIRMATION MODAL -->
<div class="modal fade" id="pendingVersionConfirmationModal" tabindex="-1"
    aria-labelledby="pendingVersionConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Pending Version Found</h5>
            </div>
            <input type="hidden" class="form-control" id="contractVersionIdForNewVersion" name="contractVersionIdForNewVersion">
            <div class="modal-body centered">
                Uploading a new file will <b>overwrite</b> your pending changes. (Go to the "Changes" tab for more details)
                <br><br>
                Would you like to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="mark-as-btn" data-bs-toggle="modal" data-bs-target="#uploadNewVersionModal">Continue</button>
            </div>
        </div>
    </div>
</div>
<!--  END: PENDING CHANGES CONFIRMATION MODAL -->

<!-- For Legal Review Modal -->
<div class="modal fade" id="legalReviewModal" tabindex="-1" aria-labelledby="legalReviewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Confirm Mark as For Legal Review</h5>
            </div>

            <div class="modal-body centered">
                Are you sure you want to mark the request as for legal review?
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="mark-as-btn forlegalreview" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- For Revision Modal -->
<div class="modal fade modal-lg" id="forRevisionModal" tabindex="-1" aria-labelledby="forRevisionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Confirm Mark as For Revision</h5>
            </div>
            <div class="modal-body centered">
                Are you sure you want to mark the request as for revision?
            </div>
            <div class="modal-footer">
                {{#compare user_role "==" "Staff"}}
                    <form action="/request/forrevision/staff" method="POST">
                        <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="addStaffFeedbackID">
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn forrevision" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                        </div>
                    </form>
                {{/compare}}
                {{#compare user_role "==" "Attorney"}}
                    <form action="/request/forrevision/attorney" method="POST">
                        <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="addAttorneyFeedbackID">
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn forrevision" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                        </div>
                    </form>
                {{/compare}}
            </div>
            {{!-- <div class="modal-body">
                <div class="custom-file mb-3">
                    {{#compare user_role "==" "Staff"}}
                    <form action="/request/forrevision/staff" method="POST">
                    <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="addStaffFeedbackID">
                        <div class="input-feedback">
                            <label for="fullname" class="form-label">Enter Comments/Feedback:</label>
                            <textarea rows="3" class="form-control" id="addStaffFeedback" name="addStaffFeedback" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn forrevision" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                        </div>
                    </form>
                    {{/compare}}

                    {{#compare user_role "==" "Attorney"}}
                    <form action="/request/forrevision/attorney" method="POST">
                    <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="addAttorneyFeedbackID">
                        <div class="input-feedback mb-3">
                            <label for="fullname" class="form-label">Enter Comments/Feedback:</label>
                            <textarea rows="6" class="form-control" id="addAttorneyFeedback" name="addAttorneyFeedback" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn forrevision" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                        </div>
                    </form>
                    {{/compare}}
                </div>
            </div> --}}
        </div>
    </div>
</div>

<!-- Mark request as cleared -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Confirm Mark as Cleared</h5>
            </div>

            <div class="modal-body centered">
                Are you sure you want to mark the request as cleared?
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="mark-as-btn markascleared" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Request Modal -->
<div class="modal fade" id="cancelRequest" tabindex="-1" aria-labelledby="cancelRequest" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Cancel Contract Approval Request</h5>
            </div>

            <div class="modal-body centered">
                Are you sure you want to cancel this contract approval request?
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="mark-as-btn cancel-modal-btn cancelRequestBtn" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Upload Signed Contract Modal -->
<div class="modal fade" id="uploadRepositoryFile" tabindex="-1" aria-labelledby="uploadRepositoryFile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Upload Signed Contract/s</h5>
            </div>
            <div class="modal-body">
                <div class="custom-file mb-3">

                    <form action="/request/uploadRepositoryFile" method="POST" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" value="{{contractrequest._id}}" name="uploadRepositoryFileID">

                        <div class="">
                            <label for="signedContractFiles" class="modal-text form-label">File Upload</label><br>
                            <input class="form-control" type="file" name="signedContractFiles" id="signedContractFiles" accept="application/pdf" required multiple><br><br>
                        </div>

                        <div class="{{contractrequest.contractType.code}}" id = "signedInstitutionalFile-div">
                            <label for="signedInstitutionalFiles" class="modal-text form-label">File Upload (Institutional MOA) </label><br>
                            <input class="form-control" type="file" name="signedInstitutionalFiles" id="signedInstitutionalFiles" accept="application/pdf" required multiple><br><br>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn" id="{{contractrequest._id}}">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Full Size Template Modal -->
<div class="modal fade modal-xl" id="view-full-size-modal" tabindex="-1" aria-labelledby="view-full-size-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">View File Full Size</h5>
                <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div id="fileViewFull">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Third Party Modal -->
<div class="modal fade modal" id="add-third-party-modal" tabindex="-1" aria-labelledby="add-third-party-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalLabel">Add Third Party</h5>
            </div>
            <div class="modal-body">
                <form action = "/request/addthirdparty" method = "POST">
                    <div class = "modal-text">Please enter the third party's email address and we will send a negotiation link.</div><br>
                    Email
                    <input type="email" id = "email" name = "email" class="third-party-modal" style="margin-bottom:10px;" placeholder="Enter email" value="{{contractrequest.thirdPartyRepresentativeEmail}}" required><br>
                    
                    Name
                    <input id = "name" name = "name" class="third-party-modal" placeholder="Enter email" value="{{contractrequest.thirdPartyRepresentativeName}}" required><br>
                    <input type="text" id="contractRequestId" name="contractRequestId" style="display:none;" value="{{contractrequest._id}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class ="mark-as-btn" value="Add Third Party">Send Link</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Assign OULC Employee Modal -->
<div class="modal fade" id="assignOULC" tabindex="-1" aria-labelledby="assignOULC" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Assign Request to Myself</h5>
            </div>

            <div class="modal-body centered">
                Are you sure you want to assign yourself to conduct the review process of this request?
            <div class="modal-footer">
                <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                {{#ifCond user_role '==' "Staff"}}
                <button type="submit" class="mark-as-btn assign-modal-btn assignStaffBtn" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                {{/ifCond}}
                {{#ifCond user_role '==' "Attorney"}}
                <button type="submit" class="mark-as-btn assign-modal-btn assignAttorneyBtn" id="{{contractrequest._id}}" value={{contractrequest.statusCounter}}>Confirm</button>
                {{/ifCond}}
            </div>
        </div>
    </div>
</div>

<!-- Report Issue Modal -->
<div class="modal fade" id="reportIssueModal" tabindex="-1" aria-labelledby="reportIssueModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 modal-title" id="exampleModalLabel">Report Issue</h5>
            </div>
            <div class="modal-body">
                <div class="custom-file mb-3">

                    <form action="/requester/createissuerequest" method="POST" >
                    <input type="hidden" name="contractRequestId" id="contractRequestId" value="{{contractrequest._id}}">
                    <input type="hidden" id="requesterid" name="requesterid" value="{{user_id}}">
                        <div class="">
                            <label for="" class="modal-text form-label">Title</label><br>
                            <input type="text" name="issueTitle" class="text-input editable" id="issueTitle" required>
                        </div><br>
                        <label for="issueType" class = "modal-text">Type / Nature of Concern</label><br>
                        <select name="issueType" id="issueType" class="dropdown" required>
                            <option>Type 1</option>
                            <option>Type 2</option>
                        </select>
                        <br>
                        <label for="issueSummary" class="form-label">Summary</label>
                        <textarea class="form-control" id="issueSummary" name="issueSummary" required></textarea>
                        <div class="">
                            <label for="signedContractFiles" class="modal-text form-label">File Upload</label><br>
                            <input class="form-control" type="file" name="signedContractFiles" id="signedContractFiles" accept="application/pdf" multiple><br><br>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="mark-as-btn" id="createIssueBtn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>            

        </div>
    </div>
</div>


</html>



<script>
    $(document).ready(() => {
        var userID = $("#currentUserId").val();
        var requestAssignedAttyID = $("#assignedAttorneyId").val();
        const role = $('#currentRole').val();
        var statusTextVal = $('#contractStatus').val();
        var assignedAttyVal = $('#assignedAttorneyId').val();
        var assignedStaffVal = $('#assignedStaffId').val();
        var statusTextDiv = $("#statusTextDiv");

        if (role == "Staff" && (statusTextVal == "Pending" && assignedStaffVal == "")) {
            statusTextDiv.prepend("Unassigned (");
            statusTextDiv.append(")");
        }
        if (role == "Attorney" && (statusTextVal == "For Legal Review" && assignedAttyVal == "")) {
            statusTextDiv.prepend("Unassigned (");
            statusTextDiv.append(")");
        }
        if (statusTextVal == "Cancelled") {
            document.getElementById("cancelBtn").style.display = "none";
        }

    });
        
        function removeSelectedClass() {
            var allTabs = document.querySelectorAll('[role="tab"]');
            for (i = 0; i < allTabs.length; i++) {
                allTabs[i].classList.remove("selected");
            }
        }
        
        function selectSummary() {
            removeSelectedClass();
            document.getElementById("summary-tab").classList.add("selected");
        }
        
        function selectFiles() {
            removeSelectedClass();
            document.getElementById("files-tab").classList.add("selected");
        }
        function selectChanges() {
            removeSelectedClass();
            document.getElementById("changes-tab").classList.add("selected");
        }
        function selectVersion() {
            removeSelectedClass();
            document.getElementById("version-tab").classList.add("selected");
        }
        function selectDiscussion() {
            removeSelectedClass();
            document.getElementById("discussion-tab").classList.add("selected");
        }
        function selectNegotiation() {
            removeSelectedClass();
            document.getElementById("negotiation-tab").classList.add("selected");
        }
        function selectFeedback() {
            removeSelectedClass();
            document.getElementById("feedback-tab").classList.add("selected");
        }

        function checkAction() {
            var action = sessionStorage.getItem("action");
            // alert (action);

            if (action != null) {

                if (action == "forlegalreview") {
                    document.getElementById("action-done").innerHTML = "marked as for legal review"
                }
                else if (action == "forrevision") {
                    document.getElementById("action-done").innerHTML = "marked as for revision"
                }
                else if (action == "cleared") {
                    document.getElementById("action-done").innerHTML = "marked as cleared"
                }
                else if (action == "submit-revised") {
                    document.getElementById("action-done").innerHTML = "marked as revised"
                }

                $("#action-toast").toast({
                    delay: 5000
                });
                // Show toast  
                $("#action-toast").toast("show");
                sessionStorage.clear();
            }                
        }
</script>

    