<head>
    <title>Products</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- For toggle switch -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--CHECK -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--CHECK -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/navstyle.css">
    <link rel="stylesheet" href="../css/usermanagement.css">

    <script src="/js/usermanagement.js" type="text/javascript"></script>
    <script src="/js/tablefilter.js" type="text/javascript"></script>

    <!-- NEWLY ADDED -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(".search-icon").click(function () {
                $(".search-box").toggle();
                $(".search-box input[type='text']").focus();
            });

            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });

    </script>
</head>

<body>

    <div id="createpost" style="min-height: 75vh;">
        <div class="tab-content">
            <div id="header">User Management</div>
            <br>
            <a href="/admin/adduser" class="add-user-btn">+ Add User</a>

            <input class="form-control" id="myInput" style="font-size: 18px; width: 10%" type="text"
                placeholder="Search...">

            <label for="">Department:</label>
            <select id="departmentdropdown" oninput="filterUserDepartment();" onClick="">
                <option selected disabled value="a">-- --</option>
                <option>All</option>
                <option>OULC</option>
                <option>IT Department</option>
            </select>

            <label for="">Role:</label>
            <select id="roledropdown" oninput="filterUserRole();" onClick="">
                <option selected disabled value="a">-- --</option>
                <option>All</option>
                <option>Attorney</option>
                <option>Office Staff</option>
                <option>Requester</option>
            </select>

            <br><br>
            <div id="user-table" class="tab-pane active">
                <div class="w-100">
                    <table id="table" class="table table-hover"
                        style="width: 100%; font-size: 16px; background:#D9D9D9;">
                        <thead class="table-headers">
                            <tr>
                                <th style="width: 20%; padding: 23px 20px;" class="text-left">Name</th>
                                <th style="width: 20%; padding: 23px 0px;" class="text-left">Email</th>
                                <th style="width: 20%; padding: 23px 0px;" class="text-left">Department</th>
                                <th style="width: 20%; padding: 23px 0px;" class="text-left">Role</th>
                                <th style="width: 10%; padding: 23px 20px;" class="text-left">Actions</th>
                                <th style="width: 10%; padding: 23px 20px;" class="text-left">User Status</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            <!-- ALL USERS -->
                            {{#each users}}
                            {{#compare role '!=' "Administrator"}}
                            <tr style="cursor: pointer;">
                                <td onclick="window.location.href='/inventory/sproduct/{{_id}}'" class="text-left"
                                    style="padding: 23px 20px;" id="user-name" value="{{_id}}">{{fullName}}</td>
                                <td onclick="window.location.href='/inventory/sproduct/{{_id}}'" class="text-left"
                                    style="padding: 23px 0px;">{{email}}</td>
                                <td onclick="window.location.href='/inventory/sproduct/{{_id}}'" class="text-left"
                                    style="padding: 23px 0px;">{{department}}</td>
                                <td onclick="window.location.href='/inventory/sproduct/{{_id}}'" class="text-left"
                                    style="padding: 23px 0px;">{{role}}</td>
                                <td class="text-left" style="padding: 23px 0px;">


                                    {{#if isActive}}
                                    <button type="submit" id="{{_id}}" class="useraccess" data-toggle="modal"
                                        data-target="#modalUserAccess{{@index}}">Disable</button>
                                    <br>
                                    {{else}}
                                    <button type="submit" id="{{_id}}" class="useraccess" data-toggle="modal"
                                        data-target="#modalUserAccess{{@index}}">Enable</button>
                                    <br>
                                    {{/if}}

                                    <!-- THIS IS TOGGLE FOR FRONTEND
                                    <div class="form-check form-switch" onclick="window.location.href='/inventory'">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                    -->
                                </td>
                                <td onclick="window.location.href='/inventory/sproduct/{{_id}}'" class="text-left"
                                    style="padding: 23px 20px;">{{isActive}}</td>
                            </tr>

                            <!--  USER ACCESS MODAL -->

                            <div class="modal fade" id="modalUserAccess{{@index}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">User Account Access</h5>
                                        </div>
                                        <form id="limitform" class="limitform" action="/setqtylimit" method="POST">


                                            <div class="modal-body">
                                                {{#if isActive}}
                                                Are you sure you want to disable this user account? <!-- DISABLE MODAL -->
                                                {{else}}
                                                Are you sure you want to enable this user account? <!-- ENABLE MODAL -->
                                                {{/if}}
                                                <br>
                                                {{fullName}}
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="close-btn" id="enable-close"
                                                    onclick="setRequired()" data-dismiss="modal">Cancel</button>
                                                {{#if isActive}} <!-- DISABLE FUNCTION -->
                                                <button type="button" class="confirm-btn disable-useraccess"
                                                    data-toggle="modal" data-target="#"
                                                    data-dismiss=" modal" id="{{_id}}">OK</button>

                                                {{else}} <!-- ENABLE FUNCTION -->
                                                <button type="button" class="confirm-btn enable-useraccess"
                                                    data-toggle="modal" data-target="#"
                                                    data-dismiss=" modal" id="{{_id}}">OK</button>

                                                {{/if}}

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--  END: USER ACCESS MODAL -->

                            {{/compare}}
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- NEWLY ADDED USER TOAST -->
    <div class="toast-container" style="position: absolute; top: 10px; right: 10px;">
        <div class="toast" id="add-user-toast">
            <div class="toast-header">
                <p id="newly-added-user-id" hidden>{{newlyAddedUser._id}}</p>
                <strong class="me-auto"><i class="bi-gift-fill"></i> New User</strong>
                <small>just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                User {{newlyAddedUser.fullName}} has been added.
            </div>
        </div>
    </div>
</body>