<head>
    <title>Products</title>

    <!-- NEWLY ADDED -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- For toggle switch -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- OTHERS -->
    <link rel="stylesheet" href="../css/navstyle.css">
    <link rel="stylesheet" href="../css/usermanagement.css">
    <script src="/js/usermanagement.js" type="text/javascript"></script>
    <script src="/js/tablefilter.js" type="text/javascript"></script>
    
    <!-- OLD -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--CHECK -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--CHECK -->

    
</head>

<body>
    <div id="createpost" style="min-height: 75vh;">
        <div class="tab-content">


            <div id="header">User Management</div>

            <ul class="nav-tabs" id="myTab" role="tablist">
                <button class="nav-item" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all">
                    All Users
                </button>
                <button autofocus class="nav-item" id="activeusers-tab" data-toggle="tab" href="#activeusers" role="tab"
                    aria-controls="activeusers">
                    Active
                </button>
                <button class="nav-item" id="inactiveusers-tab" data-toggle="tab" href="#inactiveusers" role="tab"
                    aria-controls="inactiveusers">
                    Inactive
                </button>
            </ul>


            <div id="add-user-search">
                <a href="/admin/adduser" class="add-user-btn">+ Add User</a>
                <input class="form-control" id="myInput" type="text" placeholder="Search...">
            </div>

            <div id="dropdowns">
                <label for="" class = "dept-and-role">Department</label>
                <select id="departmentdropdown" oninput="filterUserDepartment();" onChange="resetRole();">
                    <option selected disabled value="a">Select Department </option>
                    <option value="All">All</option>
                    <option>OULC</option>
                    <option>IT Department</option>
                </select>

                <label for="" class = "dept-and-role" style="margin-left: 20px;">Role</label>
                <select id="roledropdown" oninput="filterUserRole();" onChange="resetDepartment();">
                    <option selected disabled value="a">Select Role </option>
                    <option value="All">All</option>
                    <option>Attorney</option>
                    <option>Office Staff</option>
                    <option>Requester</option>
                </select>
            </div>

            <br><br>
            <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div id="user-table" class="tab-pane active">
                    <div class="w-100">
                        <table id="table" class="table table-hover"
                            style="width: 100%; font-size: 16px; background:#D9D9D9;">
                            <thead class="table-headers">
                                <tr>
                                    <th style="width: 20%; padding: 23px 20px;" class="text-left">Name</th>
                                    <th style="width: 15%; padding: 23px 20px;" class="text-left">Email</th>
                                    <th style="width: 25%; padding: 23px 20px;" class="text-left">Department</th>
                                    <th style="width: 20%; padding: 23px 20px;" class="text-left">Role</th>
                                    <th style="width: 10%; padding: 23px 20px;" class="text-left">Actions</th>
                                    <th style="width: 10%; padding: 23px 20px;" class="text-left">User Status</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <!-- ALL USERS -->
                                {{#each users}}
                                {{#compare role '!=' "Administrator"}}
                                <tr style="cursor: pointer;" id="{{_id}}">
                                    <td data-toggle="modal" data-target="#modalUserView{{@index}}" class="text-left"
                                        style="padding: 23px 20px;" id="user-name" value="{{_id}}">{{fullName}}</td>
                                    <td data-toggle="modal" data-target="#modalUserView{{@index}}"class="text-left"
                                        style="padding: 23px 20px;">{{email}}</td>
                                    <td data-toggle="modal" data-target="#modalUserView{{@index}}" class="text-left"
                                        style="padding: 23px 20px;">{{department}}</td>
                                    <td data-toggle="modal" data-target="#modalUserView{{@index}}" class="text-left"
                                        style="padding: 23px 20px;">{{role}}</td>
                                    <td class="text-left" style="padding: 23px 20px;">

                                        <div class="dropstart">
                                            <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <ul class="dropdown-menu">
                                                <li><button class="dropdown-item get-edit-user" type="button" data-bs-toggle="modal" data-bs-target="#modalEditUserDetails{{@index}}">Edit</button></li>
                                                <li><button class="dropdown-item get-reset-password" type="button" data-bs-toggle="modal" data-bs-target="#modalResetPassword{{@index}}">Reset Password</button></li>
                                            </ul>
                                        </div>

                                        <!-- EDIT USER DETAILS MODAL -->
                                        <div class="modal fade" id="modalEditUserDetails{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit User Account</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form action="/editUserDetails" method="POST">
                                                        <div class="modal-body">
                                                            <input type="hidden" class="form-control" id="{{_id}}" name="edituserdetailsid">
                                                            <div class="mb-3">
                                                                <label for="fullname" class="form-label">Full Name</label>
                                                                <input type="text" class="form-control" id="editFullName" name="editFullName"
                                                                    placeholder="Enter full name" value="{{fullName}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="fulladdress" class="form-label">Email Address</label>
                                                                <input type="text" class="form-control" id="editEmailAddress" name="editEmailAddress"
                                                                    placeholder="Enter full address" value="{{email}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="department" class="form-label">Department</label>
                                                                <select name="department" id="editDepartment" name="editDepartment" class="form-select" required>
                                                                    <option>IT Department</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="role" class="form-label">Role</label>
                                                                <select name="role" id="editRole" name="editRole" class="form-select" required>
                                                                    <option>Requester</option>
                                                                    <option>Attorney</option>
                                                                    <option>Staff</option>
                                                                    <option>Third Party Representative</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save Changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: EDIT USER DETAILS MODAL -->

                                        <!-- RESET PASSWORD MODAL -->
                                        <div class="modal fade" id="modalResetPassword{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Reset User Account Password</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to reset the user password? ({{fullName}})
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  END: RESET PASSWORD MODAL -->

                                        {{#if isActive}}
                                        <button type="submit" id="{{_id}}" class="useraccess" data-toggle="modal"
                                            data-target="#modalUserAccess{{@index}}">Disable</button>
                                        <br>
                                        {{else}}
                                        <button type="submit" id="{{_id}}" class="useraccess" data-toggle="modal"
                                            data-target="#modalUserAccess{{@index}}">Enable</button>
                                        <br>
                                        {{/if}}

                                        <!-- THIS IS TOGGLE FOR FRONTEND
                                    <div class="form-check form-switch" onclick="window.location.href='/inventory'">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" />
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                    -->
                                    </td>
                                    <td data-toggle="modal" data-target="#modalUserView{{@index}}" class="text-left"
                                        style="padding: 23px 20px;">{{isActive}}</td>
                                </tr>

                                <!--  USER VIEW MODAL -->

                                <div class="modal fade" id="modalUserView{{@index}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">View User Account
                                                </h5>
                                            </div>

                                            <div class="modal-body">
                                                Name:
                                                {{fullName}} <br>
                                                Email Address:
                                                {{email}} <br>
                                                Password: 
                                                {{password}} <br>
                                                Department: 
                                                {{department}} <br>
                                                Role:
                                                {{role}}
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="close-btn" id="enable-close"
                                                    onclick="setRequired()" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  END: USER VIEW MODAL -->


                                <!--  USER ACCESS MODAL -->

                                <div class="modal fade" id="modalUserAccess{{@index}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">User Account Access
                                                </h5>
                                            </div>
                                            <form id="limitform" class="limitform" action="/setqtylimit" method="POST">


                                                <div class="modal-body">
                                                    {{#if isActive}}
                                                    Are you sure you want to disable this user account?
                                                    <!-- DISABLE MODAL -->
                                                    {{else}}
                                                    Are you sure you want to enable this user account?
                                                    <!-- ENABLE MODAL -->
                                                    {{/if}}
                                                    <br>
                                                    {{fullName}}
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="close-btn" id="enable-close"
                                                        onclick="setRequired()" data-dismiss="modal">Cancel</button>
                                                    {{#if isActive}}
                                                    <!-- DISABLE FUNCTION -->
                                                    <button type="button" class="confirm-btn disable-useraccess"
                                                        data-toggle="modal" data-target="#" data-dismiss=" modal"
                                                        id="{{_id}}">OK</button>

                                                    {{else}}
                                                    <!-- ENABLE FUNCTION -->
                                                    <button type="button" class="confirm-btn enable-useraccess"
                                                        data-toggle="modal" data-target="#" data-dismiss=" modal"
                                                        id="{{_id}}">OK</button>

                                                    {{/if}}

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--  END: USER ACCESS MODAL -->

                                {{/compare}}
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="activeusers" role="tabpanel" aria-labelledby="activeusers-tab">
                active users

            </div>

            <div class="tab-pane fade" id="inactiveusers" role="tabpanel" aria-labelledby="inactiveusers-tab">
                inactive users

            </div>
        </div>
    </div>
    
    <!-- NEWLY ADDED USER TOAST -->
    <div class="toast-container" style="position: absolute; top: 10px; right: 10px;">
        <div class="toast" id="add-user-toast">
            <div class="toast-header">
                <p id="newly-added-user-id" hidden>{{newlyAddedUser._id}}</p>
                <strong class="me-auto"><i class="bi-gift-fill"></i> New User</strong>
                <small>just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                User {{newlyAddedUser.fullName}} has been added.
            </div>
        </div>
    </div>
</body>