<!DOCTYPE html>

<html>
    <head>
        <title>Violation Report</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/requestsoulcstyle.css">
        <link rel="stylesheet" href="/css/dashboardstyle.css">
        <link rel="stylesheet" href="/css/printreportstyle.css">
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <script src="/js/requestsoulc.js" type="text/javascript"></script>
        <script src="/js/oulctablefilter.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <div id="header">Violation Report
            <a data-bs-toggle="modal" data-bs-target="#violationModal" href="#violationModal">
                <i class="fa fa-question-circle" aria-hidden="true" id="violationTooltip"></i>
            </a>
        </div>
        <input type="hidden" id="currentRole" value="{{user.role.name}}">
        <input type="hidden" id="currentId" value="{{user._id}}">
        <div id = "date-div">
            <form action="/requester/violationreportdate" method="POST">
            <ul class="nav-tabs" id="myTab" role="tablist">
                <label for="start"><b>Start date:</b></label>
                <input type="date" class = "date-input" id="startdate" name="startdate" value="{{startdate}}" min="" max="" required>

                <label for="start"><b>End date:</b></label>
                <input type="date" class = "date-input" id="enddate" name="enddate" value="{{enddate}}" min="" max="" required>
                <button type="submit" id="datefilter" class="datefilter"> Filter Date</button>
            </form>
            <button id="" class="generate-report-btn" onclick="window.print();">Generate Report</button>
            </ul>
        </div>
        
        <div id="user-table" class="tab-pane active">
            <div class="w-100">
                <p style="color: #000;"><b>Violations Per Month</b></p>
                <table id="table" class="table table-hover"
                    style="width: 100%; font-size: 16px; background:#D9D9D9;">
                    <thead class="table-headers">
                        <tr>
                            <th style="width: 13%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Month</th>
                            <th style="width: 11%; padding: 15px; 15px; text-align: left; border-bottom: 1px solid white; border-left: 1px solid white;">Number of Violations</th>
                        </tr>
                    </thead>
                    <tbody id="myViolationTable">
                        {{#each months}}
                        <tr style="cursor: pointer;">
                            <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;" id = "" value = "">{{name}}</td>
                            <td class="days-gap text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{violation}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="user-table2" class="tab-pane active">
            <p style="color: #000;"><b>Violations Per Contract Type</b></p>
            <table id="table2" class="table table-hover"
                style="width: 100%; font-size: 16px; background:#D9D9D9;">
                <thead class="table-headers">
                    <tr>
                        <th style="width: 13%; padding: 15px; 15px; text-align: left; border: 1px solid #000;">Month</th>
                        <th style="width: 11%; padding: 15px; 15px; text-align: left; border: 1px solid #000;">Number of Violations</th>
                    </tr>
                </thead>
                <tbody id="myViolationTable2">
                    {{#each contractTypes}}
                    <tr style="cursor: pointer;">
                        <td class="text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;" id = "" value = "">{{name}}</td>
                        <td class="days-gap text-left" style="padding: 15px 15px; border-bottom: 1px solid white; border-left: 1px solid white;">{{violationCount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class = "container">
            <div class= "card-row row">
                <div class="indiv-cards no-hover-dashboard col" id="violationPerMonthCard">
                    <div class = "dashboard-item">Violations Per Month</div>
                    <div id = "columnchart-violation-month" class = "chart"></div>
                </div>
                
                <div class="indiv-cards no-hover-dashboard col" id="violationPerTypeCard">
                    <div class = "dashboard-item">Violations Per Contract Type</div>
                    <div id = "columnchart-violation-type" class = "chart"></div>
                </div>
            </div>
        </div>

        <!-- Violation Report Modal -->
            <div class="modal fade modal-lg" id="violationModal" tabindex="-1" aria-labelledby="violationModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title w-100" id="exampleModalLabel">Violation Report</h5>
                            <button type="button" class="header-close-btn" data-bs-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="">
                                <div id = "violationHeader">How do I incur violations?</div><br>
                                <div>
                                    Contracts are considered as “late submission” if these are sent to the OULC in less than 
                                    seven (7) working days before the effectivity date of the contract— worse, <b>when the contract 
                                    is submitted for review after the effectivity period.</b>
                                    <br><br>
                                    Note that <b>repeated late submissions may be reported to
                                    the RMCA as compliance violations</b>, which can lead to administrative sanctions
                                    to the staff or unit/department. These are considered <b>repeated violations</b> of University
                                    Policies.<br><br>
                                <div>Last Updated: Jan. 27, 2023</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

    </body>
</html>

<script type="text/javascript">

    var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;

        var startdate = document.getElementById("startdate").value;
        var enddate = document.getElementById("enddate").value;

        if(startdate == ""){
            document.getElementById("startdate").setAttribute("max", today);
            document.getElementById("enddate").setAttribute("max", today);
        }
        if (startdate != ""){
            document.getElementById("enddate").setAttribute("min", startdate);
        }
        if(enddate != ""){
            document.getElementById("startdate").setAttribute("max", enddate);
            document.getElementById("enddate").setAttribute("max", today);
        }
        
        $('#enddate').on('change', function() {
            var enddate = document.getElementById("enddate").value;
            document.getElementById("startdate").setAttribute("max", enddate);
        });

            $('#startdate').on('change', function() {
            var startdate = document.getElementById("startdate").value;
            document.getElementById("enddate").setAttribute("min", startdate);
            document.getElementById("enddate").setAttribute("max", today);
        });
        
    google.charts.load('current', {'packages':['corechart']});
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    // for column chart of violation per month
    var data = google.visualization.arrayToDataTable([
        ['Month', 'Count', { role: 'style' }],
        {{#each months}}
        ['{{name}}', {{violation}}, '#00713D'],
        {{/each}}
    ]);

    var options = {
        width: 700,
        height: 400,
        legend: { position: 'none' },
        hAxis: { textPosition: 'show' },
        backgroundColor: 'transparent',
        gridlines: { color: 'transparent' },
        };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart-violation-month'));
    columnchart.draw(data, options);

    // for column chart of violation per type
    var data4 = google.visualization.arrayToDataTable([
        ['Contract Type', 'Count'],
        {{#each contractTypes}}
        ['{{name}}', {{violationCount}}],
        {{/each}}
    ]);

    var options4 = {
        width: 550,
        height: 400,
        legend: { position: 'none' },
        hAxis: { textPosition: 'show' },
        backgroundColor: 'transparent',
        colors: ['#6DB388', '#00713D', '#1A6939', '#2B834D', '#0C8039'],
        gridlines: { color: 'transparent' },
        };

    var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart-violation-type'));
    columnchart.draw(data4, options4);
    
    }

    var tableMarginTop = Math.round( (testHeight - tableHeight) / 2 );
    $('table').css('margin-top', tableMarginTop);
</script>